@import '../App/Colors.less';
@import '../App/Common.less';

.signupComponent {
  .wrapper {
    padding: 50px 0;
  }
  .logo {
    margin-bottom: 27px;
  }
  .center-ele {
    width: 650px;
    margin: 0 auto;
  }
  .btn {
    width: 334px;
  }
  .form-fields {
    margin-bottom: 30px;
  }
  .form-fields .copy-btn {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    height: 36px;
    font-size: 18px;
  }
  form input[type="checkbox"] {
    float: left;
    height: 16px;
    width:16px;
    margin-right: 24px;
    margin-top: 3px;
    &:focus{
      box-shadow: none;
    }
  }
  .download-file {
    border: 1px solid @white;
    padding: 10px 21px 14px;
    text-align: left;
  }
  .passwordMessage {
    margin-bottom: 14px;
    font-size: 16px;
  }
  .savePasswordBox {
    margin-bottom: 18px;
  }
  .blue-text {
    color: @login_link;
  }
  .errorText {
    float: left;
  }
  .align-checkbox {
    margin-left: 21px;
  }
  .align-checkbox label {
    font-size: 14px;
    width: 235px;
    float: left;
    margin-left: 5px;
  }
  .width300 {
    width: 300px;
  }
  .btn-regular-disabled{
    color: @white;
    &:hover{
      background: @disable_btn;
      color: @white;
    }
  }
}
