@import (reference) '../../Main/Main.less';
@import '../../App/Colors.less';

div.sport-banner {
  position: relative;
  border:1px solid @field_border;
  background-size: cover;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;

  &:before {
    content: '';
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-image: @banner_overlay;
  	opacity: .6;
  }

  > div.sport-name {
    position: absolute;
    font-size: 18px;
    left: 27px;
    bottom: 15px;
    text-transform: uppercase;
    font-weight:500;
  }
}
