@import '../../App/Colors.less';
@import '../../App/Common.less';

@betslip-width: 360px;
@betslip-title-height: 40px;
@betslip-footer-height: 40px;

div.betslip {
  position: absolute;
  width: 100%;
  height: 100%;
  top: @betslip-title-height;

  div.content {
    position: relative;
    height: 100%;
  }

  div.footer {
    position: absolute;
    bottom: @betslip-footer-height;
    background-color: @betslip_bg;
    width: @betslip-width;
    padding: 5px;

    &.dimmed {
      opacity: .1;
    }

    > button.place-bet {
        color: @primary_label;
        width: 100%;
        text-transform: none;  // for displaying mB properly
        &:hover{
          color: @primary_label;
          .btn-regular;
        }
      }
  }
}
