@import '../../App/Colors.less';
@import '../../App/Common.less';

@betslip-width: 360px;
@betslip-title-height: 40px;
@betslip-footer-height: 40px;

div.betslip {
  position: absolute;
  width: 100%;
  height: 100%;
  top: @betslip-title-height;

  div.content {
    position: relative;
    height: 100%;
  }

  div.footer {
    align-self: flex-end;
    background-color: @betslip_bg;
    width: @betslip-width;
    padding: 6px;
    margin: 0px 0px 40px 0px;

    &.dimmed {
      opacity: .1;
    }

    > button.place-bet {
      color: @black_pearl_dark;
      font-size: 18px;
      font-weight: 400;
      height: 40px;
      .btn-regular;
        width: 100%;
        text-transform: none;  // for displaying mB properly
      &:disabled{
        .btn-disabled;
      }
      span {
        display: inline-block;
        // margin: 5px 0;
      }
    }
  }
}

.Pane1.horizontal.Pane {
  flex: none !important;
}

.Pane.horizontal.Pane2 {
  flex: auto !important;
}
