@market-drawer-width: 400px;
@market-drawer-title-height: 40px;
@market-drawer-footer-height: 40px;
@market-drawer-title-bg: #004378;

#market-drawer {
  height: 100%;

  div.ant-tabs {
    height: 100%;
  }

  div.ant-tabs-nav {
    width: 100%;
    background: none;

    div.ant-tabs-tab {
      color: #FFF;
      width: 50%;
      background: none;
      background-color: #004378;
      margin: 0px;
      border-radius: 0px;
      border-color: transparent;

      &.ant-tabs-tab-active {
        background-color: #00BEF4;
      }
    }
  }

  div.content {
    position: relative;
    height: 100%;

    > div.empty {
      width: 80%;
      height: 100%;
      margin: auto;
      text-align: center;
      margin-top: 20%;
      color: #FFF;

      > div.my-bet-button {
        margin-top: 20%;

        > button {
          width: 100%;
        }
      }
    }
  }

  div.footer {
    position: absolute;
    bottom: @market-drawer-footer-height;
    background-color: @market-drawer-title-bg;
    width: @market-drawer-width;
    padding: 5px;

    > button.place-bet {
        background-color: #37C1FF;
        color: white;
        width: 100%;
      }
  }
}
