@import '../../App/Colors.less';
@import '../../App/Common.less';

@market-drawer-width: 400px;
@market-drawer-title-height: 40px;
@market-drawer-footer-height: 40px;

#market-drawer {
  height: 100%;
  .ant-tabs-nav-container{
    height: auto;
  }
  .btn-regular{
    &:hover, &:focus{
      .btn-regular;
      color: @white;
    }
  }
  .ant-tabs-bar{
    margin-bottom:0;
    border:0 none;
  }
  div.ant-tabs {
    height: 100%;
  }

  div.ant-tabs-nav {
    width: 100%;
    background: none;

    div.ant-tabs-tab {
      color: @white;
      width: 50%;
      background-color: @market_drawer_tab_bg;
      margin: 0px;
      border-radius: 0px;
      border: 0 none;
      height:40px;
      line-height:40px;
      padding:0;
      text-align: center;
      font-size:18px;
      font-weight:700;
      box-shadow: @market_drawer_btn_shadow;
      &.ant-tabs-tab-active{
        background-color: @market_drawer_tab_active_bg;
      }
    }

  }

  div.content {
    position: relative;
    height: 100%;

    > div.empty {
      width: 80%;
      height: 100%;
      margin: auto;
      text-align: center;
      margin-top: 20%;
      color: @white;

      > div.my-bet-button {
        margin-top: 20%;

        > button {
          width: 100%;
        }
      }
    }
  }

  div.footer {
    position: absolute;
    bottom: @market-drawer-footer-height;
    background-color: @market_drawer_title_bg;
    width: @market-drawer-width;
    padding: 5px;

    > button.place-bet {
        color: white;
        width: 100%;
      }
  }
}
