@import (reference) '../../App/Colors.less';

div.matched-bets {
  div.controls {
    margin-right: 15px;
    color: @primary_label;
    border: 1px solid @primary_label_highlight;

    &.dimmed {
      opacity: .1;
    }

    .ant-checkbox-wrapper {
      margin-left: 5px;
      margin-bottom: 3px;
      .ant-checkbox-inner {
        border: none;
        background-color: @back_bg_primary;
      }
    }
  }
}
