div.matched-bets {
  div.controls {
    margin-right: 15px;
    color: #ffffff;
    border: 1px solid #00BEF4;

    &.dimmed {
      opacity: .1;
    }

    .ant-checkbox-wrapper {
      margin-left: 5px;
      margin-bottom: 3px;
      .ant-checkbox-inner {
        border: none;
        background-color: #004E9B;
      }
    }
  }
}
