@import '../../App/Colors.less';
@import '../../App/Common.less';

@placed-bets-title-height: 40px;

div.placed-bets {
  position: absolute;
  width: 100%;
  top: @placed-bets-title-height;
  bottom: 0px;

  div.content {
    position: relative;
    height: 100%;
  }
}
