table {
	&.subtotal {
		color: white;
		text-align: right;
		float: right;
		padding: 0 0 10px 0;
		border-collapse: separate;
		border-spacing: 10px 0;
		font-size: 14px;
		.currency-symbol {
			margin-bottom: -1px;
		}
		.total {
			font-weight: 700;
		}
	}
}
