@import '../../App/Colors.less';
@import '../../App/Common.less';

div.unmatched-bets {
  div.buttons {
    width: 100%;
    padding-right: 15px;

    &.dimmed {
      opacity: .1;
    }
    
    button {
      width: 50%;
    }
  }
  .btn-reset{
    .btn-regular-disabled;
    cursor: default;
    &:hover, &:focus{
      .btn-regular-disabled;
      color: @white;
      cursor: default;
    }
  }
}
