[submodule "lib/peerplaysjs-lib"]
	path = lib/peerplaysjs-lib
	url = https://github.com/PBSA/peerplaysjs-lib-private.git/
	branch = master
[submodule "lib/peerplaysjs-ws"]
	path = lib/peerplaysjs-ws
	url = https://github.com/PBSA/peerplaysjs-ws-private.git/
	branch = betting2
