.DS_Store
.idea
node_modules
*/node_modules
*/npm-debug.log
*.map
css
*.log
build/
releases/
dist/

web/app/components/Exchange/exchange.css
cli/bundle.js
plasma
babel-cache/*
\!documents
!babel-cache/.gitkeep
.sass-cache
node_modules
bower_components
bundle
stats-dev.json
stats-prod.json
*.json.gzip