.DS_Store
.idea
node_modules
*/node_modules
*/npm-debug.log
*.map
css
*.log
build
releases

web/app/components/Exchange/exchange.css
cli/bundle.js
web/dist-prod
plasma
web/stats*
babel-cache/*
\!documents
!babel-cache/.gitkeep
web/build/
electron/build
electron/tmp
.sass-cache
node_modules
bower_components
bundle
stats-dev.json
stats-prod.json
*.json.gzip