.notification-card .ant-card-body {
  padding: 0;
}
.notification-card .notification-card-content {
  width: 400px;
  max-height: 400px;
  background-color: #2c363f;
}
.notification-card .notification-card-content .notification-item {
  display: flex;
  min-height: 80px;
  align-items: center;
  padding-left: 18px;
  padding-right: 25px;
  cursor: pointer;
}
.notification-card .notification-card-content .notification-item:hover {
  background-color: #fbae16;
}
.notification-card .notification-card-content .notification-item.disabled {
  cursor: default;
}
.notification-card .notification-card-content .notification-item.disabled:hover {
  background-color: #2c363f;
}
.notification-card .notification-card-content .notification-item .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 22px;
}
.notification-card .notification-card-content .notification-item .content .message {
  padding-top: 8px;
  font-size: 16px;
  color: #FFFFFF;
}
.notification-card .notification-card-content .notification-item .content .date {
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 8px;
}
.notification-card .notification-card-content .notification-item .close-button {
  width: 16px;
  height: 16px;
  background-image: url('../../../../assets/icons/close_icon.png');
  background-size: 16px;
  background-repeat: no-repeat;
}
.notification-card .notification-card-content .notification-item .close-button:active {
  filter: brightness(75%);
}
