.pos-relative{ position: relative;  }
.border-blue{border:2px solid #2FA5E6}
.padding-tb-5{padding:5px 0}
.margin-bottom-30{ margin-bottom:30px}
.margin-lr-10{margin:0 10px}
.font16{ font-size:16px;}
.margin-tb-15{  margin:15px 0;  }
.margin-tb-20{  margin:20px 0;  }
.margin-tb-10{  margin:10px 0;  }
.text-center{ text-align: center;}
.btn-primary{  background-image: linear-gradient(-180deg, rgba(55,192,255,0.92) 2%, #1F6CB4 97%);  box-shadow: 0 2px 3px 0 #0D3B7B, inset 1px 2px 0 0 rgba(248,235,218,0.43);  }
.ant-input{  height:36px;  line-height: 36px;  border-radius:2px;  }
.btn{  cursor: pointer; &:focus{  outline:none;  } }
.big-icon{
  font-size:52px;
}
.bookie-breadcrumb{
  color: #FFFFFF;
  font-size:16px;
  text-transform: uppercase;
  margin-bottom:30px;
  a,.ant-breadcrumb-separator{
    color: #FFFFFF;
  }
  .ant-breadcrumb-link{
    color: #00BEF4;
  }
  &>span{
    &:last-child{
      font-weight:400;
    }
  }
}
.bookie-card{
  background: rgba(6,92,183,0.35);
  box-shadow: 0 2px 4px 0 #02070C;
  height:340px;
  border-radius:0;
  font-size:14px;
  .ant-card-body{
    color: #FFFFFF;
    padding:15px;
    font-size:16px;
  }
  .ant-card-head{
    padding:0 15px;
    border-bottom-color: #1563A0;
  }
  .ant-card-head-title{
    font-size:18px;
    color: #FFFFFF;
    font-weight:500;
    text-transform: uppercase;
  }
}
.change-password{
  padding: 20px 70px 0 0;
  .registerComponent{
    ::-webkit-input-placeholder{
      color: #9B9B9B;
    }
  }
  .center-form{
    width:650px;
    margin:50px auto;
  }
  .bookie-card{
    height:100%;
  }
  .btn{
    width:49%;
    &:last-child{
      margin-left:2%;
    }
  }
  .form-fields{
    margin-bottom:30px;
  }
}
.cancel-btn{
  background-image: linear-gradient(-180deg, rgba(23,102,162,0.92) 4%, #134E85 97%);
  box-shadow: 0 2px 3px 0 #0D3B7B, inset 1px 2px 0 0 rgba(248,235,218,0.43);
}