.btn-primary {
  background-image: linear-gradient(-180deg, rgba(55,192,255,0.92) 2%, #1F6CB4 97%);
  box-shadow: 0 2px 3px 0 #0D3B7B, inset 1px 2px 0 0 rgba(248,235,218,0.43);
}

.big-icon {
  font-size: 52px;
}

.change-password {
  .bookie-card{
    height: 600px;
  }

  .registerComponent {
    ::-webkit-input-placeholder {
      color: rgba(169,169,169,1);
    }
  }

  .center-form {
    width: 650px;
    margin: 100px auto;
  }

  .btn {
    width: 49%;

    &:last-child {
      margin-left: 2%;
    }
  }

  .form-fields {
    margin-bottom: 40px;

    .errorText{
      float: left;
    }
  }

}

.cancel-btn {
  background-image: linear-gradient(-180deg, rgba(23,102,162,0.92) 4%, #134E85 97%);
  box-shadow: 0 2px 3px 0 #0D3B7B, inset 1px 2px 0 0 rgba(248,235,218,0.43);
}
