@import '../App/App.less';

.btn-primary {
  background-image: linear-gradient(-180deg, fade(@light_blue_2, 92%) 2%, @blue_4 97%);
  box-shadow: 0 2px 3px 0 @dark_blue_6, inset 1px 2px 0 0 fade(@cream,0.43);
}

.big-icon {
  font-size: 52px;
}

.change-password {
  .bookie-card{
    height: 600px;
  }

  .registerComponent {
    ::-webkit-input-placeholder {
      color: @grey_1;
    }
  }

  .center-form {
    width: 650px;
    margin: 100px auto;
    p{
      margin:40px 0 30px;
    }
  }

  .btn {
    width: 30%;

    &:last-child {
      margin-left: 2%;
    }
  }

  .form-fields {
    margin-bottom: 40px;

    .errorText{
      float: left;
    }
  }
  .icon-lock{
    background: url("../../assets/icons/lock_icon.png") no-repeat;
    display: inline-block;
    width:52px;
    height:76px;
    vertical-align: middle;
    background-size: 100%;
    margin-right:10px;
  }
}

.cancel-btn {
  background-image: linear-gradient(-180deg, fade(@light_blue_2, 92%) 4%, @dark_blue_5 97%);
  box-shadow: 0 2px 3px 0 @dark_blue_6, inset 1px 2px 0 0 fade(@cream,0.43);
}
