@import '../../App/Colors.less';

.rules-button{
  padding:0;
  background-color: transparent;
  border:0 none;
  color: @primary_label;
  border-radius:0;
  font-size:14px;
  transition: none;
  &:hover {
    background-color: transparent;
    color: @primary_label_highlight;
    .info-icon{
      background: url("../../../assets/icons/info_icon_hover.png") no-repeat;
      display: inline-block;
      width:20px;
      height:20px;
      vertical-align: middle;
      background-size: 100%;
      margin-right:10px;
    }
  }

  .info-icon{
    background: url("../../../assets/icons/info_icon.png") no-repeat;
    display: inline-block;
    width:20px;
    height:20px;
    vertical-align: middle;
    background-size: 100%;
    margin-right:10px;
  }


}




// overriding ant design default styling for left spacing  as per mockup
.rules-button > .anticon + span, .ant-btn > span + .anticon{
  margin-left:10px;
}
