.rules-button {
  padding: 0;
  background-color: transparent;
  border: 0 none;
  color: #FFFFFF;
  border-radius: 0;
  font-size: 14px;
  margin-left: 15px;
  transition: none;
}
.rules-button:hover {
  background-color: transparent;
  color: #fbae16;
}
.rules-button:hover .info-icon {
  background: url("../../../assets/icons/info_icon_hover.png") no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-size: 100%;
  margin-right: 4px;
  margin-bottom: 2px;
}
.rules-button .info-icon {
  background: url("../../../assets/icons/info_icon.png") no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-size: 100%;
  margin-right: 4px;
  margin-bottom: 2px;
}
.rules-button > .anticon + span,
.ant-btn > span + .anticon {
  margin-left: 10px;
}
