.pos-relative{ position: relative;  }
.border-blue{border:2px solid #2FA5E6}
.padding-tb-5{padding:5px 0}
.margin-bottom-30{ margin-bottom:30px}
.margin-lr-10{margin:0 10px}
.font16{ font-size:16px;}
.margin-tb-15{  margin:15px 0;  }
.margin-tb-20{  margin:20px 0;  }
.margin-tb-30{  margin:30px 0;  }
.margin-tb-25{  margin:25px 0;  }
.margin-tb-10{  margin:10px 0;  }
.text-center{ text-align: center;}

.processed{color: #00BEF4; }
.completed{ color: #FFF; }
.btn-primary{  background-image: linear-gradient(-180deg, rgba(55,192,255,0.92) 2%, #1F6CB4 97%);  box-shadow: 0 2px 3px 0 #0D3B7B, inset 1px 2px 0 0 rgba(248,235,218,0.43);  }
.bookie-select{  display: block;  }
.ant-select-selection--single{  height: 36px;  border-radius:2px;  }
.ant-select-selection__rendered{  line-height: 36px;  }
.ant-input{  height:36px;  line-height: 36px;  border-radius:2px;  }
.btn{  cursor: pointer; &:focus{  outline:none;  } }
.btn-regular{  background-image: linear-gradient(-180deg, rgba(55,192,255,0.92) 2%, #1F6CB4 97%);  box-shadow: 0 2px 3px 0 #0D3B7B, inset 1px 2px 0 0 rgba(248,235,218,0.43);  }
.bookie-switch{
  border:1px solid #E1E1E1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  background-color: #FFFFFF;
  height: 24px;
  min-width: 45px;
  line-height: 26px;
  float: right;

  &:after{
    background-color: #1D7BE3;
    width: 20px;
    height: 20px;
    border-radius: 24px;
  }
  &.ant-switch-checked{
    &:after{
      margin-left: -24px;
    }
  }
}
.section-padding{
  padding:10px 60px;
}
.my-account{
  color: #FFFFFF;

  .bookie-breadcrumb{
    color: #FFFFFF;
    font-size:16px;
    text-transform: uppercase;
    margin-bottom:20px;
    a,.ant-breadcrumb-separator{
      color: #FFFFFF;
      font-weight:normal;
    }
    .ant-breadcrumb-link{
      color: #00CAF7;
      font-weight:700;
    }
    &>span{
      &:last-child{
        font-weight:400;
      }
    }
  }
  .bookie-amount{
    text-align: right;
    margin:70px 0 0;
  }
  .withdrawForm{
    margin-top:75px;
  }
  .walletAddr-input{
    width: 300px;
    margin-top: 60px;
  }
  .registerComponent{
    .bookie-input,.btn{
      height:30px;
      line-height:30px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    }
    .bookie-amount{
      height:45px;
      line-height: 45px;
    }
    .btn{
      display: block;
      width:100%;
      font-size:16px;
      border-radius:2px;
    }
    .copy-btn{
      width:auto;
      box-shadow: 0 2px 3px 0 #0D3B7B, inset 1px 2px 0 0 rgba(248,235,218,0.43);
    }
    .btn-primary{
      box-shadow: 0 2px 3px 0 #0D3B7B, inset 1px 2px 0 0 rgba(248,235,218,0.43);
    }
    input{
      border:1px solid #979797;
    }
    .send-btn{
      width:auto;
      position: absolute;
      padding: 0 10px;
      top:260px;
      right:10px;
      box-shadow: 0 2px 3px 0 #0D3B7B, inset 1px 2px 0 0 rgba(248,235,218,0.43);
    }
    .send-btn-disabled{
      width:auto;
      position: absolute;
      top:260px;
      right:10px;
      padding:0 10px;
      background-image: linear-gradient(-180deg, rgba(23,102,162,0.92) 4%, #134E85  97%);
      box-shadow: 0px 2px 3px 0px #0D3B7B , inset 1px 2px 0px 0px rgba(248,235,218,0.43);cursor:not-allowed; }
  }

  .top-data{
    padding: 0 16px;
    color: #fff;
    height:50px;
    line-height: 48px;
    border-bottom:1px solid #1563A0;
  }
  .export-icon{
    display: block;
    background-color: #004E9B;
    padding:0 10px;
    border-radius:2px;
    height:36px;
    line-height:36px;
    margin-left: 25px;
    color: #FFFFFF;
  }
  .ant-form-inline {
    .ant-form-item{
      &:last-child{
        margin-right:0;
      }
    }
  }
  .filter{
    label{
      font-size:16px;
      color: #FFFFFF;
      margin-right:14px;
    }
  }
  .transaction-table{
    background-color: rgba(6,92,183,0.35);
    margin-top: 20px;
    box-shadow: 0 2px 4px 0 #02070C;
    min-height: 550px;
  }
  .ant-form-item{
    color:#fff
  }
  .ant-form-inline {
    .ant-form-item{
      margin-right:25px;
      &:last-child{
        margin-right:0;
      }
    }

  }
  .page-title{
    font-size:16px;
    text-transform:uppercase;
    font-weight: bold;
  }
  .btn {
    text-transform: uppercase;
    display: inline-block;
    color: #ffffff;
    border-radius: 0;
    background-color: inherit;
    font-size:16px;
    font-weight:500;
  }
  .bookie-card{
    background: rgba(0,92,183,0.35);
    box-shadow: 0 2px 4px 0 #02070C;
    height:312px;
    border-radius:0;
    border:0 none;
    font-size:14px;
    .ant-card-body{
      color: #FFFFFF;
      padding:10px 15px;
      font-size:16px;
    }
    .ant-card-head{
      padding:0 15px;
      border-bottom-color: #1563A0;
    }
    .ant-card-head-title{
      font-size:18px;
      color: #FFFFFF;
      font-weight:500;
      text-transform: uppercase;
    }
    .my-account{
      padding:0;
    }
  }

  .bookie-select{
    .ant-select-selection__rendered{
      line-height:30px;
    }
    .ant-select-selection--single{
      height:30px;
      border-color: #E1E1E1;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    }
  }
  ::-webkit-input-placeholder{
    color: #A9A9A9 !important;
  }
  .bookie-table{
    padding: 0 16px;
    .ant-table{
      overflow: visible;
    }
    .ant-table-content{
      min-height: 630px;
    }
    table{
      table-layout: fixed;
      color: #FFFFFF;
      font-size: 14px;
      .ant-table-thead > tr > th{
        background-color: transparent;
        border-bottom:1px solid #fff;
        font-weight:700;
      }
      .ant-table-tbody > tr > td{
        border-bottom:0 none;
        font-size:14px;
        word-break: normal;
      }
      .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
        padding:10px 25px 10px 0;
        color: #FFFFFF;
        vertical-align: top;
      }
      .ant-table-tbody tr td:last-child{
        padding-right:0;
      }
      .ant-table-thead > tr:hover, .ant-table-tbody > tr:hover,.ant-table-tbody > tr:hover > td{
        background-color: transparent;
      }
    }
  }

  .bookie-table table thead tr th:nth-of-type(1) {width:150px;}
  .bookie-table table thead tr th:nth-of-type(2) {width:200px;}
  .bookie-table table thead tr th:nth-of-type(4) {width:150px;}
  .bookie-table table thead tr th:nth-of-type(5) {width:100px;}
}






.ant-calendar-input{
  color: #4A4A4A;
}
.ant-calendar-date-panel{
  background-color: rgba(3,41,77,0.95);
}
.ant-calendar-header .ant-calendar-my-select a,.ant-calendar-header .ant-calendar-prev-month-btn,.ant-calendar-header .ant-calendar-next-month-btn,.ant-calendar-date{
  color: #FFFFFF;
}
.ant-calendar-column-header-inner {
  color: #166ABC;
}
.ant-calendar-date:hover{
  background: transparent;
  color: inherit;
}
.ant-calendar-footer-btn{
  border-top-color: rgba(125,175,213,0.20);
}
.ant-calendar-last-month-cell .ant-calendar-date, .ant-calendar-next-month-btn-day .ant-calendar-date{
  color: rgba(47,165,230, 0.25);
}
.ant-calendar-header{
  border-bottom-color: #034A8E;
}
.ant-calendar-today-btn{
  color: #00BEF4;
}
.bottom-div{
  padding: 0 15px;
  position: absolute;
  bottom:15px;
  width:100%;
  left:0;
}

.ant-pagination-prev, .ant-pagination-next{
  background-color: transparent;
  border:0 none;
  a{
    color: #FFFFFF ;
  }
}
.ant-pagination-item{
  background-color: transparent;
  border:0 none;
  border-radius: 0;
  font-size:16px;
  font-weight:500;
  a{
    color: #FFFFFF ;
  }
}
.ant-pagination-item-active{
  background-color: #1563A0 ;
}
:root .ant-pagination-prev a:after, :root .ant-pagination-next a:after{
  font-size:16px;
}
@media screen and (min-width: 1024px) and (max-width: 1140px){
  .my-account{
    .bookie-card{
      height: 330px;
    }
  }
}
