@import '../App/Colors.less';
@import '../App/Common.less';
.my-account{
  .bookie-switch{
    border:1px solid @switch_border;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    background-color: @switch_bg;
    height: 24px;
    min-width: 45px;
    line-height: 26px;
    float: right;
    &:after{
      background-color: @switch_active;
      width: 20px;
      height: 20px;
      border-radius: 24px;
    }
    &.ant-switch-checked{
      &:after{
        margin-left: -24px;
      }
    }
  }
  input{
    height: 30px;
    line-height: 30px;
  }
  .bookie-card{
    height:312px;
  }
  .bookie-table {
    table {
      thead {
        tr {
          th {
            &:nth-of-type(1) {
              width: 150px;
              text-transform: uppercase;
            }
            &:nth-of-type(2) {
              width: 200px;
            }
            &:nth-of-type(4) {
              width: 150px;
            }
            &:nth-of-type(5) {
              width: 100px;
            }
          }
        }
      }
    }
  }
  .settingComponent{
    .btn{
      width:100%;
    }
    .bookie-select{
      display: block;
    }
  }
  .processed{
    color: @myaccount_blue_text;
  }
  .completed{
    color: @status_completed;
  }

  .icon-bitcoin-white{
    background-image: url('../../assets/icons/bitcoin_icon_hover.png');
    display: inline-block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: -2px;
  }
}
.depositCardComponent{
  .btn, input, .ant-input{
    height:30px;
    line-height: 30px;
  }
  .bookie-qr {
    width: 130px;
    height: 130px;
    border: 1px solid @qr_code_border;
    display: inline-block;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1140px){
  .my-account{
    .bookie-card{
      height: 330px;
    }
  }
}