// App
@app-bg: linear-gradient(#094B88, #00152A);

// Media Queries
@desktop:     ~"only screen and (max-width: 1366px)";
@desktop-xl:  ~"only screen and (min-width: 1366px)";

.float-left {
  float: left;
}

.float-right {
  float: right;
}
