// Main application
@app-bg: radial-gradient(circle, rgba(9, 75, 136, 1) 0%, rgba(0, 21, 42, 1) 60%);
@white: #ffffff;

// Form fields
@field: #ffffff;
@field_shadow: fade(#000000, 50%);
@field_selected_shadow:#6398D6;
@field: #4A4A4A;
@field_border: #979797;
@field_selected_border:#00BEF4;
@field_error: #FF7788;
@field_selected_shadow: #6398D6;
@checkbox: #1563A0;
@switch_border: #E1E1E1;
@switch_bg: #ffffff;
@switch_active: #1D7BE3;
@filter_table_header_border:#1563A0;

// Buttons
@primary_btn: linear-gradient(rgba(55,192,255,0.92), #1F6CB4);
@btn_label: #ffffff;
@btn_shadow_inset: fade(#F9EBDB, 43%);
@btn_shadow_outset: fade(#0D3B7B, 100%);
@btn_shadow: 0 2px 3px 0 @btn_shadow_outset, inset 1px 2px 0 0 @btn_shadow_inset;
@download_btn: linear-gradient(#1ACBB4, #03787B);
@disable_btn: linear-gradient(rgba(23,102,162,0.92), #134E85);
@btn_placed: #37C1FF;

// Simple betting
@simple_betting_blue_bg: #004E9B;
@simple_betting_green_bg: #008487;
@simple_betting_bg: #065CB7;
@simple_betting_header_border: #1563A0;
@simple_betting_back_bg: #004E9B;
@simple_betting_lay_bg: #008487;
@simple_betting_back_hover_bg: #005CB7;
@simple_betting_lay_hover_bg: #359C9F;
@simple_betting_label: #ffffff;
@simple_betting_table_header_border: #1563A0;

// On Boarding - Getting Started
@welcome_section_bg: fade(#2FA5E6, 10%);
@welcome_section_shadow: 0 2px 4px 0 fade(#000000, 50%);
@welcome_carousel_dot: #ffffff;
@welcome_dot_active:#2FA5E6;


// Deposit
@qr_code_border: #2FA5E6;

// Signup
@login_link: #2FA5E6;

// Breadcrumb
@breadcrumb_link: #ffffff;
@breadcrumb_link_current: #00BEF4;

// MyAccount
@status_completed: #ffffff;
@myaccount_blue_text: #00BEF4;
@withdraw_amount: #004378;


// Card
@card_bg: fade(#005CB8, 35%);
@card_shadow: 0 2px 4px 0 #0D162F;
@card_header_border: #1563A0;
@card_blue_title: #00BEF4;

//Pagination
@pagination_label: #ffffff;
@pagination_active_bg:#1563A0;

// Export Popup
@overlay_bg: fade(#004378, 90%);
@export_card_bg: fade(#061F32, 95%);
@export_card_border: #ffffff;

//Datepicker
@datepicker_bg: fade(#03294D,95%);
@datepicker_month_label: #ffffff;
@datepicker_year_label: #ffffff;
@datepicker_week_label:#166ABC;
@datepicker_day_label: #ffffff;
@datepicker_day_selected: #00BEF4;
@datepicker_day_label_disabled: fade(#2FA5E6, 35%);
@datepicker_header_border: #034A8E;
@datepicker_footer_border: fade(#7DB0D6, 20%);
@datepicker_year_panel_bg:#03294D;

//Dropdown
@dropdown_shadow:#E0E7EE;
@dropdown_hover:fade(#004E9B, 40%);

//MyBets
@profit_color: #03CA44;
@loss_color:#FF6477;
@mybets_tabs_border_bottom:#A9A9A9;
@mybets_tabs_selected: #fff;
@mybets_tabs_label:#A9A9A9;
@mybets_tabs_border_bottom_selected:#005CB8;
@mybets_tabs_selected_shadow:0 2px 4px 0 fade(#000000, 50%);

// Dialogue box
@dialogue_bg: fade(#061F32,95%);
@dialogue_shadow: 0 2px 4px 0 fade(#000000, 50%);
@dialogue_blue_title: #00BEF4;
@dialogue_overlay_bg: fade(#002340, 95%);
@dialogue_header_border: #1563A0;

//Infinite Menu
@sports_label: #ffffff;
@sports_label_selected: #00BEF4;
@sports_label_border: #084272;
@infinite_menu_white_label: #ffffff;
@infinite_menu_bg:rgb(137, 139, 143);
@infinite_menu_hover_bg:rgb(137, 139, 143);
@infinite_menu_border:rgb(73, 73, 73);
@infinite_menu_leaf_bg: rgb(94, 96, 99);
@infinite_menu_leaf_hover_bg: rgb(94, 96, 99);
@infinite_menu_leaf_border: rgb(73, 73 ,73);
@infinite_menu_load_more_label: rgb(94, 96, 99);
@infinite_menu_load_more_hover_bg: rgb(94, 96, 99);

//QuickBet drawer
@quick_bet_drawer_title_bg: #004378;

//Banner
@banner_border: #A9A9A9;
@banner_timer_top_half:#082639;
@banner_timer_bottom_half:#0E324A;

//Split Pane
@split_pane_bg: #000000;
@split_pane_horizontal_border:rgba(255, 255, 255, 0);
@split_pane_horizontal_hover_border:rgba(255, 255, 255, 0.5);
@split_pane_vertical_border:rgba(255, 255, 255, 0);
@split_pane_vertical_hover_border:rgba(255, 255, 255, 0.5);
@split_pane_vertical_header_bg:#eee;
@split_pane_vertical_footer_bg:#eee;
@split_pane_horizontal_header_bg:#eee;
@split_pane_horizontal_footer_bg:#eee;

//Market Drawer
@market_drawer_tab_bg: #1563A0;
@market_drawer_tab_active_bg:#004378;
@market_drawer_btn_shadow: 0 2px 4px 0 fade(#000000, 50%);
@market_drawer_title_bg: #004378;

//Betslips
@betslip_bg:#004378;
@betslip_delete_icon_bg:#03294D;
@betslip_header_bg: #1563A0;

//Editable BetTable
@editable_table_header_bg:#004378;
@editable_table_back_body_bg:#004E9B;
@editable_table_back_body_border:#166ABC;
@editable_table_back_market_type:#37C1FF;
@editable_table_lay_header_bg:#05696B;
@editable_table_lay_body_bg:#008487;
@editable_table_lay_body_border:#359C9F;
@editable_table_lay_market_type:#1ACBB4;

// Topbar Menu
@topbar_notification_hover: #2FA5E6;
@topbar_dropdown_card: #002340;
@topbar_more_menu_active: #002F54;
@topbar_label: #00BEF4;
@topbar_bg: #004378;
@topbar_divider: #061F33;
@topbar_badge_count: #00BEF4;
@topbar_select_label: #00BEF4;
@topbar_search_result_bg: #002340;