// Common classess
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.pos-relative {
  position: relative;
}
.boldTextInMessage {
  font-weight: bold;
}
.mediumMessageInText {
  font-weight: 500;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-underline {
  text-decoration: underline;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.pos-rel {
  position: relative;
}
.margin-tb-10{
  margin:10px 0;
}
.margin-btm-20 {
  margin-bottom: 20px;
}
.margin-btm-24 {
  margin-bottom: 24px;
}
.margin-top-18 {
  margin-top: 18px;
}
.center-object{
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-center{
  align-items: center;
}

// this two classes used in simple betting widget design
// pages - homepage, getting started, sports
.bg-lightblue {
  background-color: @simple_betting_blue_bg;
}
.bg-lightgreen {
  background: @simple_betting_green_bg;
}


// Form fields
.errorText{
  color: @field_error;
  font-size:12px;
}

// Common class for Sports banner background for login, signup, deposit
.onboardingSportsBackground {
  background: @app-bg;
  background: url("../../assets/images/sports-background.png");
  background-size: cover;
  overflow: auto;
  height: 100%;
  .center-object;
}

// Buttons
.btn{
  color: @btn_label;
  font-size: 16px;
  //TODO: will remove important once font-weight:400 style remove for whole application
  font-weight: 500 !important;
  text-transform: uppercase;
  border-radius: 0;
  height: 30px;
  line-height: 30px;
  border: 0 none;
  text-align: center;
  cursor: pointer;
}
.btn-regular {
  background: @primary_btn;
  box-shadow: @btn_shadow;
}
.btn-regular-disabled {
  background: @disable_btn;
  box-shadow: @btn_shadow;
  //TODO: will remove important once button:pointer style remove for whole application
  cursor: not-allowed !important;
}
.btn-download{
  background: @download_btn;
  box-shadow: @btn_shadow;
}

input {
  border: 1px solid @field_border;
  box-shadow: 0 2px 4px 0 @field_shadow;
  border-radius: 1.5px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  color: @field;
  display: block;
  width: 100%;
  font-size: 18px;
  &:focus {
    outline: none;
    border-color: @field_selected_border;
    box-shadow: 0 2px 4px @field_selected_shadow;
  }
}
.rw-input,
::-webkit-input-placeholder {
  color: @field;
}