@charset "utf-8";
@import "variables";
@import "mixins";

html {
  height: 100%;
  font-size: 100%;
}

body {
  height: 100%;
  min-width: 920px;
  color: $text-color-bg;
  font-size: 16px;
  line-height: 1.25;
  font-weight: $fw;
  background: $body-bg;

  &.loginBg {
    background: $body-login-bg;

    .wrapper {
      background: $body-login-bg;
    }

    .footer {
      background: #fff;

      &:before {
        background: #fff;
      }

      &__copy {
        color: $faded-color;
      }
    }
  }
}

.wrapper {
  background: $body-bg;
  position: relative;
  overflow: hidden;
  z-index: 2;
  min-height: 100%;
  height: auto !important;

  &-with-footer {
    padding-bottom: 50px;
  }
}

#content {
  height: 100%;
}

.out {
  height: 100%;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-85 {
  margin-bottom: 85px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.pr-30 {
  padding-right: 30px;
}

.pr-10 {
  padding-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pt-75 {
  padding-top: 75px !important;
}

.pt-30 {
  padding-top: 30px;
}

.h-515 {
  height: 515px;
}

.none {
  display: none !important;
}

.pointer {
  cursor: pointer;
}


.h100 {
  height: 100px;
}

.h50 {
  height: 50px;
}

.pt40 {
  padding-top: 40px;
}

.mark {
  color: $mark-color !important;

  &2 {
    color: $color-second !important;
  }

  &3 {
    color: #20f3ec !important;
  }

  &-pink {
    background: #fbfcfe;
    height: 30px;
    line-height: 30px;
    width: auto;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #ff35bf;
    padding: 0 15px;
    @include border-radius(20px);
  }
}

.text__gray {
  color: $text-color2 !important;
}

.pdl-inside {
  padding-left: $insideXPad;
}

.rel {
  position: relative;
}

.delimiter {
  border-bottom: 1px solid $delimiter-bd-color;
  @include box-shadow($delimiter-bd-shadow);

  &.full {
    margin: 0 (-$defXPad);
  }
}

a {
  text-decoration: none;
  color: $text-color;
  @include transition();
}

.img-responsive {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.yHelper {
  display: none;

  &.active {
    position: relative;
    content: "";
    height: 100vh;
    width: 0;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: -50px;

    &~.content {
      @include va_middle_in;
      width: 99%;
    }
  }

}

.box {
  padding: 0 $defXPad;
  //max-width: $maxWidth;
  margin: 0 auto;

  &-inPadding {
    //padding: 50px 0;
  }

  &-inner {
    background: $box-inner-bg;
    padding: 35px $defXPad 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    @include box-shadow($box-inner-shadow);

    & .hr {
      margin: 0;
      height: 80px;
    }

    &-2 {
      padding: 35px $insideXPad 50px;
      margin: 0;
    }
  }

  &-white-inside {
    background: $box-inner-bg;
    padding: 50px $insideXPad 60px;
    @include box-shadow($table-shadow2);
    @include border-radius(2px);
    margin-bottom: 40px;
  }
}

.logo {
  float: left;
  width: 182px;
  height: 72px;
  line-height: $headerHeight;
  text-align: center;
  margin: 0;
  @include transition();

  img {
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  &-lg {
    display: block;
    margin: 60px auto 6px;
    float: none;
    width: 117px;
    height: 150px;
  }

  &:hover {
    opacity: .6;
  }

  &__box {
    overflow: hidden;
  }

  .header & {
    margin: 0;
    height: 100%;
    width: auto;
    padding: 0 20px;
    margin-right: 30px;

    //border-right: 1px solid $menu-limiter-color;
    img {
      display: inline-block;
      width: auto;
      height: 36px;
    }

  }
}

.main {
  .header~& {
    margin-top: $headerHeight;
  }
}

.content {
  &__head {
    @include clearfix;
    min-height: 80px;
    margin: 0 (-$defXPad);
    padding: 16px $defXPad 17px;

    &.db {
      padding: 15px $defXPad 0;
    }

    //border-bottom: 1px solid $delimiter-bd-color;
    //@include box-shadow($delimiter-bd-shadow);
    &.noBd {
      border-bottom: none;
      @include box-shadow(none);
    }

    &Title {
      font-size: 20px;
      font-weight: 500;
      color: $text-color-bg;
      padding: 7px 45px 7px 0;
    }

    &Btn {
      float: left;
      height: 38px !important;
      padding: 0 20px !important;
      min-width: 140px !important;
      margin-top: 5px !important;
    }

    &BtnIcon {
      font-size: 19px;
    }

    .btn {
      min-width: 160px;
    }
  }

  &-aside {
    margin-right: 25%;
    @include table_clearfix();
  }
}

.dialog {
  background: #fff;
  //width: 700px;
  width: 800px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.25;
  @include border-radius(10px);

  &-lg {
    width: 1060px;
  }

  &-loading {
    min-height: 360px !important;
  }

}

.h1 {
  text-align: center;
  padding: 15px 10px;
  margin: 0 0 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  color: $h1-color;

  &__main {
    color: $heading-color;
    font-size: 24px;
    text-align: left;
    text-transform: none;
    padding: 30px 0 20px;
    margin: 0;

    &.text_c {
      text-align: center;
    }
  }
}

.h2 {
  color: $heading-color;
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 10px;
}

.h3 {
  color: $heading-color;
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 10px;

  .table+& {
    margin-top: 30px;
  }
}

.page__title {
  padding: 15px 0;
  font-size: 25px;
  font-weight: $fw;
  color: #454e57;
  margin-bottom: 10px;
}

.hint {
  padding: 0 0 30px;
}

.hr {
  clear: both;
  width: 100%;
  margin: 25px 0;
}

.desc2 {
  font-size: 20px;
  color: $text-color-bg;
  padding: 0 17px;
  margin-bottom: 15px;
}

.picH32 {
  img {
    height: 32px;
    display: inline-block;
    vertical-align: middle;
  }
}

.table__thAction {
  width: 120px;
  text-align: left;
  display: inline-block;
}

.memo {
  &KeyIcon {
    margin-top: 26px;
    width: 50px;
    color: $color-second;
    font-size: 27px;
    float: left;
    line-height: 52px;
  }

  &FieldRow {
    overflow: hidden;
  }
}

.limiter {
  border-bottom: 1px solid $delimiter-bd-color;
  @include box-shadow($delimiter-bd-shadow);
  margin: 50px (-$insideXPad) 35px;
}

.assets {
  &__list {
    @include clearfix;
    background: $asset-bg;
    margin-bottom: 40px;
    padding: 45px 10px 33px $insideXPad;
    @include box-shadow($shadow);

    &-inside {

      &:before,
      &:after {
        content: none;
      }

      display: flex;
      justify-content: space-between;
      overflow: hidden;
      padding: 20px 0;
      clear: both;
      @include box-shadow(none);
      margin-bottom: 18px;

      &+& {
        margin-bottom: 0;
        padding-bottom: 5px;
      }
    }
  }

  &__item {
    &In {
      display: inline-block;
      padding-left: 25px;
    }
  }

  &__label {
    color: $asset-label-color;
    font-size: 16px;
    margin-bottom: 10px;

  }

  &__labeled {
    font-size: 30px;
    font-weight: 600;
    color: $text-color-bg;

  }

  &__unit {
    color: $assets-unit-color;
    font-size: 14px;
    font-weight: 400;
  }
}

.send {
  &Form {
    margin: 10px 0 20px;

    &__btns {
      margin-bottom: 55px;
      text-align: right;
    }
  }
}

.calendarIcon {
  font-size: 27px;
  color: $calendarIcon-color;
  @include transition();

}