@import '../App/Colors.less';
@import '../App/Common.less';
.my-wager {
  .profit{
    color: @profit_color;
  }
  .loss{
    color:@loss_color;
  }
  .bookie-table {
    .btn{
      display: inline-block;
      width:78px;
    }
    table {
      thead {
        tr {
          th {
            &:nth-of-type(5) {
              width: 80px;
            }
            &:nth-of-type(1) {
              width: 150px;
            }
            &:nth-of-type(6) {
              width: 85px;
            }
            &:nth-of-type(8) {
              width: 150px;
            }
            &:nth-of-type(7) {
              width: 85px;
            }
            &:nth-of-type(4) {
              width: 160px;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            &:nth-of-type(8) {
              text-align: right;
            }
          }
        }
      }
    }
  }
  .bookie-tab{
    .ant-input{
      height:30px;
      line-height: 30px;
    }
    .ant-tabs-nav .ant-tabs-tab-active{
      color: @mybets_tabs_selected;
      font-weight:700;
    }
    .ant-tabs-tab{
      color: @mybets_tabs_label;
      font-size: 16px;
      width: 100%;
      margin-right:0;
      padding: 0 30px 10px;
      text-align: center;
      text-transform: uppercase;
    }
    .ant-tabs-bar{
      border-bottom-color:@mybets_tabs_border_bottom;
      margin-bottom:20px;
    }
    .ant-tabs-nav{
      width:100%;
      display: flex;
      justify-content: space-around;
      align-items:center;
    }
    .ant-tabs-ink-bar{
      background: @mybets_tabs_border_bottom_selected;
      box-shadow: @mybets_tabs_selected_shadow;
    }
  }
  .cancel-btn {
    .btn-regular-disabled;
    cursor: pointer;
  }
  .btn{
    height:28px;
    line-height: 28px;
  }
  a.btn{
    &:hover{
      color: inherit;
    }
  }
  .filterComponent{
    .btn{
      width:130px;
    }
  }
}


@media screen and (max-width: 1180px) {
 .bookie-table {
   table {
     thead {
       tr {
         th {
           &:nth-of-type(1) {
             width: 105px;
           }
           &:nth-of-type(4) {
             width: 100px;
           }
           &:nth-of-type(8) {
             width: 100px;
           }
           &:nth-of-type(6) {
             width: 55px;
           }
         }
       }
     }
   }
 }
}
