//various colors for my Bets page
@green-color: #7ED321;
@red-color: #FF6477;
.page-title {  font-size: 18px;  text-transform: uppercase;  font-weight:300;  }
.margin-lr-10{  margin:0 10px;  }
.font16 {font-size: 16px}
.padding-tb-5{padding:5px 0}
.font18 {font-size: 18px}
.color-white{color: #FFFFFF }
.color-green{color: @green-color}
.color-red{color: @red-color}
.my-wager {
  padding:0 0 20px 20px;
  .bookie-table{
    padding: 0 10px;
    .anticon{
      display: block;
    }
    table{
      color: #FFFFFF;
      font-size: 14px;
      .ant-table-thead > tr > th{
        background-color: transparent;
        border-bottom:1px solid #fff;
      }
      .ant-table-tbody > tr > td{
        border-bottom:0 none;
        font-size:14px;
        word-break: normal;
      }
      .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
        padding:10px 5px;
        color: #FFFFFF;
      }
      .ant-table-thead > tr:hover, .ant-table-tbody > tr:hover,.ant-table-tbody > tr:hover > td{
        background-color: transparent;
      }
    }
  }
  .bookie-tab{
    .ant-tabs{
      margin-top:30px;
    }
    .ant-tabs-tabpane{
      background-color: rgba(6,92,183,0.35);
    }
    .top-data{
      padding: 15px;
      color: #fff;
      border-bottom:1px solid #1563A0;
    }
    .filter{
      label{
        font-size:16px;
        color: #FFFFFF;
      }
    }
    .ant-select-lg .ant-select-selection--single{
      height: 36px;
      line-height: 36px;
      border-radius:2px;
    }
    ::-webkit-input-placeholder,.rw-input { /* Chrome/Opera/Safari */
      color: #4A4A4A;
    }
    .ant-select-lg .ant-select-selection__rendered{
      line-height:34px;
    }
    .ant-tabs-nav .ant-tabs-tab{
      color: #C8C8C8;
      font-size: 16px;
      width: 100%;
      padding: 15px 0;
      margin-right:0;
    }
    .ant-input{
      height:36px;
      line-height: 36px;
      border-radius:2px;
    }
    .ant-tabs-nav .ant-tabs-tab-active{
      color: #fff;
    }
    .ant-tabs-tab{
      padding: 10px 30px;
      text-align: center;
      text-transform: uppercase;
    }
    .ant-tabs-bar{
      border-bottom-color:#979797;
    }
    .ant-tabs-nav{
      width:100%;
      display: flex;
      justify-content: space-between;
      align-items:center;
    }
  }
  .export-icon{
    display: block;
    background-color: #004E9B;
    padding:0 10px;
    border-radius:2px;
    height:36px;
    line-height:36px;
    margin-left: 25px;
    color: #FFFFFF;
  }
  .ant-form-item-control{
    line-height:normal;
  }
  .ant-form-item{
    color: #FFFFFF;
    font-size: 14px;
    margin-right:15px;
  }
  .btn {
    text-transform: uppercase;
    display: inline-block;
    color: #ffffff;
    height: 36px;
    line-height: 36px;
    border-radius: 0;
    background-color: inherit;
    padding: 0 20px;
    border: 0 none;
  }
  .cancel-btn {
    background-image: linear-gradient(-180deg, rgba(23, 102, 162, 0.92) 4%, #134E85 97%);
    box-shadow: 0 2px 3px 0 #0D3B7B, inset 1px 2px 0 0 rgba(248, 235, 218, 0.43);
    padding: 0px 10px
  }

  .ant-form-inline label{
    margin-right:10px;
  }
  .ant-select-selection__rendered{
    line-height: 36px;
  }
  .ant-select-selection--single{
    height:36px;
  }
  .ant-select{
    font-size:12px;
  }
  .ant-select-selection{
    border-radius:2px;
  }
}
.ant-calendar-input{
  color: #4A4A4A;
}
.ant-calendar-date-panel{
  background-color: rgba(3,41,77,0.95);
}
.ant-calendar-header .ant-calendar-my-select a,.ant-calendar-header .ant-calendar-prev-month-btn,.ant-calendar-header .ant-calendar-next-month-btn,.ant-calendar-date{
  color: #FFFFFF;
}
.ant-calendar-column-header-inner {
  color: #166ABC;
}
.ant-calendar-date:hover{
  background: transparent;
  color: inherit;
}
.ant-calendar-footer-btn{
  border-top-color: rgba(125,175,213,0.20);
}
.ant-calendar-last-month-cell .ant-calendar-date, .ant-calendar-next-month-btn-day .ant-calendar-date{
  color: rgba(47,165,230, 0.25);
}
.ant-calendar-header{
  border-bottom-color: #034A8E;
}
.ant-calendar-today-btn{
  color: #00BEF4;
}
