@import (reference) '../App/Colors.less';

.message {
	&-background{
		width: 100%;
		top: -36px;
		height: 36px;
		padding: 5px 0;
		display: table;
		z-index: 1;
		color: @white;
		animation-name: slideDown;
		animation-duration: 0.2s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		p {
			float: right;
			&:hover {
				cursor: pointer;
			}
		}
		&.info {
			background-color: fade(@system_info, 100%);
		}
		&.error {
			background-color: fade(@system_error, 100%);
		}
		&.warning {
			background-color: fade(@system_warning, 100%);
		}
		&.success {
			background-color: fade(@system_success, 100%);
		}
		&.none {
			display: none;
		}
	}
	&-content {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		padding: 0 1vw;
	}
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	100% {
		transform: translateY(0%);
	}
}
