@import (reference) '../App/Colors.less';

.message {
	&-background{
		width: 100%;
		position: relative;
		top: -30px;
		height: 30px;
		padding: 5px 0;
		display: table;

		//transition: 10s ease-in-out;
		animation-name: slideDown;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		&.info {
			background-color: fade(@system_info, 100%);
			color: @white;
			top: 0;
		}
		&.error {
			background-color: fade(@system_error, 100%);
			color: @white;
			top: 0;
			// display: none;
			//visibility: hidden;
		}
		&.warning {
			background-color: fade(@system_warning, 100%);
			color: @black;
			top: 0;
		}
		&.success {
			background-color: fade(@system_success, 100%);
			color: @black;
			top: 0;
		}
		&.none {
			display: none;
			//opacity: 0;
		}
	}
	&-content {
		text-align: center;
		vertical-align: middle;
		padding: 0 1vw;
	}
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}
