@import (reference) '../App/Colors.less';

.message {
	&-background{
		width: 100%;
		position: relative;
		top: 0;
		height: 30px;
		padding: 5px 0;
		display: table;
		margin-bottom: 30px;

		animation-name: slideDown;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		&.default {
			background-color: fade(@outer_space, 100%);
			color: @white;
		}
		&.error {
			background-color: fade(@error, 100%);
			color: @white;
		}
		&.warning {
			background-color: fade(@update_highlight, 100%);
			color: @black;
		}
		&.success {
			background-color: fade(@green, 100%);
			color: @black;
		}
		&.none {
			display: none;
		}
	}
	&-content {
		text-align: center;
		vertical-align: middle;
		padding: 0 1vw;
	}
}
@keyframes slideDown {
	0% {
		transform: translateY(-100%);
		margin-bottom: 0px;
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	50%{
		transform: translateY(8%);
		margin-bottom: 27.6px;
	}
	65%{
		transform: translateY(-4%);
		margin-bottom: 26.4px;
	}
	80%{
		transform: translateY(4%);
		margin-bottom: 28.8px;
	}
	95%{
		transform: translateY(-2%);
		margin-bottom: 28.2px;
	}
	100% {
		transform: translateY(0%);
		margin-bottom: 30px;
	}
}
