.c-common-message {
	&__background{
		position: fixed;
		margin-top: 54px;
		width: 100%;
		top: -36px;
		height: 36px;
		padding: 5px 0;
		display: table;
		z-index: 1;
		color: white;
		animation-name: slideDown;
		animation-duration: 0.2s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		&.small {
			width: 24%;
		}
		p {
			float: right;
			&:hover {
				cursor: pointer;
			}
		}
		&.info {
			background-color: fade-in(#204496, 1);
		}
		&.error {
			background-color: fade-in(#D60D2E, 1);
		}
		&.warning {
			background-color: fade-in(#FF9603, 1);
		}
		&.success {
			background-color: fade-in(#02A04A, 1);
		}
		&.none {
			display: none;
		}
	}
	&__content {
		text-align: left;
		display: table-cell;
		vertical-align: middle;
		padding: 0 1vw;
	}
}

@keyframes slideDown {
	0% {
		transform: translateY(0%);
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	100% {
		transform: translateY(100%);
	}
}
