@import '../../../App/Colors.less';
@import '../../../App/Common.less';

#quick-bet-drawer, #market-drawer {
  div.overlay {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    color: @primary_label;
    z-index: 10;

    > div.instructions {
      margin-top: 40%;
    }

    > div.buttons {
      margin-top: 20px;
      .btn{
        width:135px;
      }
      .btn-cancel{
        .btn-regular-disabled;
        cursor: pointer;
        &:hover{
          .btn-regular-disabled;
          cursor: pointer;
          color: @primary_label;
        }
      }
      .btn-regular{
        &:hover{
          color: @primary_label;
          .btn-regular;
        }
      }
      > button:nth-of-type(2) {
        margin-left: 10px;
      }
    }
  }
}
