@import (reference) '../../Main/Main.less';

div.betting-market-group-banner {
  position: relative;
  border:1px solid #A9A9A9;

  @media @desktop {
    background: url('../../../assets/footballevent_banner.png') no-repeat;
    height: 120px;
    background-size: cover;
  }

  @media @desktop-xl {
    background: url('../../../assets/footballevent_banner_big.png') center no-repeat;
    height: 120px;
    background-size: cover;
  }

  > div.event {
    padding:0 10px;
    > div.time {
      font-size: 16px;
      padding-top: 8px;
    }
    > div.name {
      font-size: 20px;
      padding-top: 8px;
      font-weight:500;
    }
  }

  > div.countdown {
    position: absolute;
    right: 12px;
    bottom: 10px;
  }
}
@media screen and (max-width: 1336px){
  div.betting-market-group-banner {
    >div.event {
      >div.name {
        font-size: 20px;
        text-transform: uppercase;
      }
      >div.time {
        font-size: 16px;
      }
    }
    >div.countdown {
      position: absolute;
      right: 12px;
      bottom: 10px;
    }
  }
}
