@import (reference) '../../Main/Main.less';
@import '../../App/ProThemeColors.less';

div.betting-market-group-banner {
  position: relative;
  border:1px solid @field_border;
  background-size: cover;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: @overlay_banner;
  background-blend-mode: multiply;

  > div.event {
    padding:0 10px;
    position: relative;
    > div.time {
      font-size: 16px;
      padding-top: 8px;
    }
    > div.name {
      font-size: 26px;
      padding-top: 8px;
      font-weight:500;
      text-transform: uppercase;
    }
  }

  > div.countdown {
    position: absolute;
    right: 12px;
    bottom: 10px;
  }

  > div.live {
    position: absolute;
    right: 12px;
    bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: @live_market_marker;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
  }

}
@media screen and (max-width: 1336px){
  div.betting-market-group-banner {
    >div.countdown {
      position: absolute;
      right: 12px;
      bottom: 10px;
    }
  }
}
@media screen and (max-width: 1600px){
  div.betting-market-group-banner {
    >div.event {
      >div.name {
        width: 520px;
      }
    }
  }
}
@media screen  and (max-width: 1220px){
  div.betting-market-group-banner {
    >div.event {
      >div.name {
        font-size: 16px;
      }
      >div.time {
        font-size: 14px;
      }
    }
  }
  .banner-clock {
    .banner-clock-content {
      .banner-clock-digits {
        .banner-clock-digit {
          width: 25px;
          height: 34px;
          .base {
            font-size: 22px;
          }
        }
      }
    }
  }
}
