// .betting-market-leaf-container {
//     width: 100%;
//     background-color: #5e6033;
//     color: #ffffff;
//     height: 50px;
//     padding-left: 20px;
//     padding-top: 15px;
//     border-bottom: solid 1px #494949;
// }

.betting-market-leaf-container :hover {
    background-color: #00BEF4;
}

.betting-market-leaf-container  {
    width: 100%;
    background-color: #002039;
    color: #ffffff;
    height: 40px;
    // padding-top: 10px;
}
.betting-market-label-container {
    width: 100%;
    color: #ffffff;
    height: 40px;
    padding-top: 0px;
    padding-top: 10px;
    margin-left: 20px;
    border-bottom: solid 1px #084272;
}
