@import '../../App/Colors.less';
.rt-table>.-header {
	padding: 0;
	height: 0;
}
.offer-header.lay {
  float: left;
  &.disabled{
    display: none;
  }
}
.offer-header.back {
  float: right;
  &.disabled{
    display: none;
  }
}
div.complex-betting {
	// Using fade (from LESS) can set opacity to background only
	// If we set opacity explicitly, it will affect the text (foreground) too
	background-color: @complex-betting-bg;
	margin-top: 15px;
	.increased-value {
		color: @profit;
	}
	.decreased-value {
		color: @loss;
	}
}
.complex-betting {
	background-color: @complex-betting-bg;
	margin-top: 20px;
	.title {
		color: @white;
		padding: 13px 15px;
		margin-bottom: 25px;
	}
	.name {
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		.live {
			display: inline-flex;
			align-items: center;
			color: @primary_label;
			margin-left: 10px;
			padding: 5px 6px 5px 12px;
			background-color: @live_market_marker;
			font-size: 12px;
			font-weight: bold;
			.indicator {
				background-color: @white;
				border-radius: 50%;
				display: inline-block;
				width: 8px;
				height: 8px;
				margin-right: 4px;
				margin-bottom: 1px;
			}
		}
		.going-live {
			display: inline-flex;
			align-items: center;
			color: @cinder;
			margin-left: 10px;
			padding: 2px 6px 2px 5px;
			background-color: @going_live_market_marker;
			font-size: 12px;
			font-weight: bold;
			border-radius: 4px;
			.indicator {
				background-image: url("../../../assets/icons/live_indicator_black.png");
				background-repeat: no-repeat;
				display: inline-block;
				width: 16px;
				height: 16px;
				vertical-align: middle;
				background-size: 100%;
				margin-right: 4px;
			}
		}
		.error {
			display: inline-flex;
			align-items: center;
			color: @field_error;
			margin-left: 10px;
			padding: 5px 6px 5px 12px;
			background-color: @going_live_market_marker;
			font-size: 12px;
			font-weight: bold;
			.indicator {
				background-color: @white;
				border-radius: 50%;
				display: inline-block;
				width: 8px;
				height: 8px;
				margin-right: 4px;
				margin-bottom: 1px;
			}
		}
	}
	div.rules {
		color: @dark_tangerine;
		font-size: 14px;
		float: right;
		font-weight: 500;
		span {
			color: @white;
			&:first-child {
				margin-right: 6px;
			}
		}
		i {
			font-size: 18px;
			margin-left: 0;
			vertical-align: middle;
		}
	}
	.ReactTable {
		border: 0 none;
		box-shadow: none;
		.rt-tbody {
			background-color: @black_pearl_dark;
			margin-bottom: 20px;
		}
		.rt-td {
			height: 42px;
			padding: 0;
			border-right: 0 none;
			font-weight: bold;
			.back-offer, .lay-offer {
				height: 100%;
				cursor: pointer;
				display: flex;
				flex-direction: column;
				justify-content: center;
				cursor: pointer;
				&.disabled {
					background-color: transparent;
					display: none;
				}
			}
			.complex-outcome {
				position: absolute;
				font-size: xx-large;
				left: 50%;
				transform: translateX(-50%)
			}
			.back-offer.empty-offer {
				background-color: @pattens_blue;
			}
			.back-offer {
				&.best-offer {
					&:hover {
						background-color: fade(@anakiwa, 90%) !important;
					}
				}
			}
			.lay-offer {
				color: @black;
				&.best-offer {
					&:hover {
						background-color: fade(@light_pink, 90%) !important;
					}
				}
			}
			.back-offer.best-offer {
				background-color: @simple_betting_back_bg !important;
				color: @black;
			}
			.lay-offer.best-offer {
				background-color: @light_pink !important;
				color: @black;
			}
			.lay-offer.empty-offer {
				background-color: @pale_pink;
			}
			.empty-offer {
				align-items: center;
				font-weight: normal;
			}
			.name {
				font-size: 14px;
				text-align: left;
				padding-top: 3px;
				font-weight: 500;
				text-transform: capitalize;
			}
			.exposure {
				font-size: 12px;
				text-align: left;
				span {
					margin-left: 4px;
					&:first-child {
						margin-left: 0;
					}
				}
			}
			.odds-offer {
				color: @black;
				font-size: 16px;
			}
			.back-offer {
				color: @black;
				&.back-bg {
					background-color: @pattens_blue;
					&:hover {
						background-color: fade(@pattens_blue, 90%);
					}
				}
				&.back-all-offer {
					background-color: @complex-betting-back-bg;
					&:hover {
						background-color: transparent;
					}
				}
				&.empty-offer.best-offer {
					background-color: @simple_betting_back_bg;
				}
				&.empty-offer:hover {
					background-color: fade(@pattens_blue, 90%);
				}
				&.disabled {
					cursor: default;
					background-color: transparent;
					&:hover {
						background-color: transparent;
					}
				}
			}
			.lay-offer {
				&.lay-bg {
					background-color: @pale_pink;
					&:hover {
						background-color: fade(@pale_pink, 90%);
					}
				}
				&.lay-all-offer {
					background-color: @complex-betting-lay-bg;
					&:hover {
						background-color: @primary_label_highlight;
					}
				}
				&.empty-offer.best-offer {
					background-color: @lay_bg_primary;
				}
				&.empty-offer:hover {
					background-color: fade(@pale_pink, 90%);
				}
				&.disabled {
					cursor: default;
					background-color: transparent;
					&:hover {
						background-color: transparent;
					}
				}
			}
			.odds {
				font-size: 15px;
				text-align: center;
				padding-top: 3px;
			}
			.price {
				font-size: 9px;
				text-align: center;
				padding-bottom: 3px;
			}
			.odds, .price {
				width: 100%;
			}
			&:first-child {
				padding: 0 10px;
			}
			&.lay-arrows-col {
				div.lay-offer {
					background-color: transparent;
				}
				padding: 0 5px;
			}
			&.back-arrows-col {
				div.back-offer {
					background-color: transparent;
				}
				padding:0 5px 0 2px;
			}
		}
		.rt-tr-group {
			border-top: 1px solid @domino;
			border-bottom: 1px solid @domino;
			&:first-child {
				border-top: 2px solid @domino;
			}
			&:last-child {
				border-bottom: 2px solid @domino;
			}
			.back, .lay, .back-arrows-col {
				border-right: 2px solid @domino;
			}
			.rt-td {
				&:first-child {
					text-align: left;
				}
			}
		}
		.rt-th {
			font-weight: 500;
			padding: 0;
			border-right: none;
			.alignleft {
				float: left;
			}
			.alignright {
				float: right;
			}
			&.rt-resizable-header {
				box-shadow: none;
			}
			.back-all-offer, .lay-all-offer {
				cursor: pointer;
				color: @black;
				border-top: 2px solid @domino;
				border-right: 2px solid @domino;
				font-size: 12px;
			}
			&:nth-of-type(2) {
				.alignright {
					border-left: 1px solid @primary_label_border;
					border-top: 1px solid @primary_label_border;
					padding: 4px 3px;
					background-color: @simple_betting_back_bg;
					&:hover {
						cursor: pointer;
						background-color: @complex-betting-back-hover-bg;
					}
					&.disabled {
						background-color: @complex-betting-disabled;
						cursor: default;
						&:hover {
							background-color: @complex-betting-disabled;
						}
					}
				}
			}
			&:nth-of-type(3) {
				.alignleft {
					border: 1px solid @primary_label_border;
					border-bottom: none;
					padding: 4px 3px;
					background-color: @complex-betting-lay-all-bg;
					&:hover {
						cursor: pointer;
						background-color: @complex-betting-lay-hover-bg;
					}
					&.disabled {
						background-color: @complex-betting-disabled;
						cursor: default;
						&:hover {
							background-color: @complex-betting-disabled;
						}
					}
				}
				.back-all-offer {
					background-color: @simple_betting_back_bg;
					&:hover {
						background-color: @complex-betting-back-hover-bg;
					}
				}
				.lay-all-offer {
					background-color: @light_pink;
					&:hover {
						background-color: fade(@light_pink, 90%);
					}
				}
				&.back-all-offer-border {
					border-right: 2px solid @domino;
				}
				p {
					padding: 4px 0;
				}
			}
		}
		.icon-bitcoin {
			background-image: url('../../../assets/icons/bitcoin_icon_hover.png');
			width: 12px;
			height: 14px;
			background-repeat: no-repeat;
			background-size: 100%;
			display: inline-block;
		}
		.icon-left-arrow {
			background: url('../../../assets/icons/left_arrow_grey.png') no-repeat;
			width: 15px;
			height: 15px;
			background-size: 100%;
			display: inline-block;
			margin-bottom: 3px;
			&:hover {
				background: url('../../../assets/icons/left_arrow_white.png') no-repeat;
				background-size: 100%;
			}
		}
		.icon-right-arrow {
			background: url('../../../assets/icons/right_arrow_grey.png') no-repeat;
			width: 15px;
			height: 15px;
			background-size: 100%;
			display: inline-block;
			&:hover {
				background: url('../../../assets/icons/right_arrow_white.png') no-repeat;
				background-size: 100%;
			}
		}
	}
}