@import '../../App/Colors.less';

.rt-table > .-header{
  padding: 0;
  height: 0;
}
div.complex-betting {
  // Using fade (from LESS) can set opacity to background only
  // If we set opacity explicitly, it will affect the text (foreground) too
  background-color: @complex-betting-bg;
  margin-top: 15px;

  .increased-value{
    color: @profit;
  }
  .decreased-value{
    color: @loss;
  }
}
.complex-betting{
  background-color: @complex-betting-bg;
  box-shadow: @complex-betting-bg-shadow;
  margin-top: 20px;
  padding-bottom:20px;
  .title{
    padding:13px 15px;
    border-bottom:1px solid @primary_border;
    margin-bottom:25px;
  }
  .name{
    font-size:16px;
    font-weight:bold;
    text-transform: uppercase;
    display: inline-block;
  }
  div.rules {
    font-size: 14px;
    float: right;
    display: inline-block;
    font-weight:500;
    span:first-child{
      margin-right:15px;
    }
    i{
      font-size:18px;
      margin-left:0;
      vertical-align: middle;
    }

  }
  .ReactTable{
    border:0 none;
    .rt-td{
      height: 42px;
      padding:0;
      border-right:0 none;
      .back-offer, .lay-offer{
        display: flex;
        height:100%;

        flex-direction: column;
        justify-content: center;
        cursor: pointer;
      }
      .back-offer{
        align-items: flex-end;
      }
      .empty-offer{
        align-items: center;
      }
      .name {
        font-size: 14px;
        text-align: left;
        padding-top:3px;
        font-weight: 500;
        text-transform: capitalize;
      }
      .exposure {
        font-size: 12px;
        text-align: left;
        span{
          margin-left:4px;
          &:first-child{
            margin-left:0;
          }
        }
      }
      .odds-offer {
        font-size:16px;
      }
      .back-offer {
        &.back-bg{
          background-color: @complex-betting-back-bg;
          &:hover{
            background-color: @complex-betting-back-hover-bg;
          }
        }
        &.back-all-offer{
          background-color: @complex-betting-back-all-bg;
          &:hover{
            background-color: @complex-betting-back-hover-bg;
          }
        }
        &.empty-offer:hover{
          background-color: @complex-betting-empty-offer-hover;
        }
      }
      .lay-offer {
        &.lay-bg{
          background-color: @complex-betting-lay-bg;
          &:hover{
            background-color: @complex-betting-lay-hover-bg;
          }
        }
        &.lay-all-offer{
          background-color: @complex-betting-lay-all-bg;
          &:hover{
            background-color: @complex-betting-lay-hover-bg;
          }
        }
        &.empty-offer:hover{
          background-color: @complex-betting-empty-offer-hover;
        }
      }
      .odds {
        font-size: 16px;
        text-align: center;
        padding-top:3px;
      }
      .price {
        font-size: 12px;
        text-align: center;
        padding-bottom:3px;
      }
      .odds, .price{
        width:100%;
      }
      &:first-child{
        padding:0 10px;
      }
      &.lay-arrows-col {
        padding: 0 5px;
        min-width: 20px;
      }
      &.back-arrows-col {
        padding:0 5px 0 2px;
      }
    }
    .rt-tr-group{
      border-top:1px solid @primary_label_border;
      &:last-child{
        border-bottom:1px solid @primary_label_border;
      }
      .back, .lay, .back-arrows-col {
        border-right:1px solid @primary_label_border;
      }
      .rt-td{
        &:first-child{
          text-align: left;
        }
      }
    }
    .rt-th{
      font-weight:500;
      padding:0;
      border-right:none;
      #back, #lay {
        cursor: pointer;
      }
      #lay {
        padding: 4px 7px;
      }
      .alignleft {
        float: left;
      }
      .alignright {
        float: right;
      }
      p{
        padding:4px 0;
      }
      &:nth-of-type(2){
        .alignright{
          border-left:1px solid @primary_label_border;
          border-top:1px solid @primary_label_border;
          padding: 4px 3px;
          background-color: @complex-betting-back-all-bg;
          &:hover{
            background-color: @complex-betting-back-hover-bg;
          }
         }
      }
      &:nth-of-type(3){
        .alignleft{
          border:1px solid @primary_label_border;
          border-bottom:none;
          padding: 4px 3px;
          background-color: @complex-betting-lay-all-bg;
          &:hover{
            background-color: @complex-betting-lay-hover-bg;
          }
        }
      }
    }
   .rt-thead.-headerGroups{
      background: transparent;
      border-bottom:0 none;
      .rt-tr{
        .rt-th:nth-child(2){
          width:148px !important;
        }
      }
    }
  }
  .icon-bitcoin{
    background-image: url('../../../assets/icons/bitcoin_icon_hover.png');
    width:12px;
    height:14px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
  }
  .icon-left-arrow{
    background: url('../../../assets/icons/left_arrow_white.png') no-repeat;
    width: 15px;
    height: 15px;
    background-size: 100%;
    display: inline-block;
    margin-bottom: 3px;
    &:hover {
      background: url('../../../assets/icons/left_arrow_blue.png') no-repeat;
      background-size: 100%;
    }
   }
  .icon-right-arrow{
    background: url('../../../assets/icons/right_arrow_white.png') no-repeat;
    width: 15px;
    height: 15px;
    background-size: 100%;
    display: inline-block;
    &:hover {
      background: url('../../../assets/icons/right_arrow_blue.png') no-repeat;
      background-size: 100%;
    }
  }
}
