@import (reference) '../Main.less';
@import '../../App/Colors.less';
@import '../../App/Common.less';


#betex-header {
  padding: 0;
  font-size: 16px;
  background-color: @topbar_bg;
  width: 100%;
  z-index:999;
  box-shadow: @card_shadow;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  div.logo {
    border-right: solid 1px @topbar_divider;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 25%;
    min-width: 220px;
    max-width: 220px;
    padding:0 15px;
    &.link{ cursor: pointer; }
    img {
      width: 154px;
    }
  }

  .top-menu {
    background-color: @topbar_bg;
    line-height: inherit;
    display: flex;
    border-bottom:0 none;
    overflow: hidden;

    li {
      padding:0;
      border-left: solid 1px @topbar_divider;
      margin-top:0;
      color: @topbar_label;
      &.amount {
        a{
          color: @topbar_label;
          font-size:18px;
          transition: 0s color;
        }
      }

      &.notification {
        span.ant-badge {
          > .anticon {
            padding-bottom: 6px;
          }

          > sup.ant-badge-count {
            box-shadow: none;
            background-color: @topbar_badge_count;
          }
        }
      }
      &:hover{
        background-color: rgba(0,36,64,0.95);
        a, .anticon{
          color: @white !important;
        }
      }
      a{
      }
      &>i, &>span{
        padding:0 20px;
      }
    }
  }
  .ant-badge-count{
    top: 0;
    min-width: 15px;
    height: 15px;
    line-height: 15px;
    padding: 0;
    margin-left: 1px;
  }
}
.ant-dropdown{
  z-index: 1000;
  .ant-card, .ant-dropdown-menu{
    background: @topbar_dropdown_card;
    box-shadow: @card_shadow;
    color: @white;
    font-size:14px;
    margin-top:-3px;
    border-radius: 0;
    border:0 none;
    .ant-card-head{
      h3{
        color: @card_blue_title;
      }
    }
  }
  .bookie-amount-card{
    width:440px;
    padding:0 0 22px 0;
    height:auto;
    .ant-card-body{
      padding-top:15px;
    }
    p{
      text-align: center;
      font-size:20px;
      font-weight:500;
      span{
        margin-top:10px;
        display: block;
        font-size:16px;
        font-weight:400;
      }
    }
    .ant-row{
      &>div{
        &:last-child{
          border-left:1px solid @white;
        }
      }
    }
  }
  .deposit-card{
    width:380px;
    height:318px;
  }
  .withdraw-card{
    width:406px;
    height:302px;
    .withdrawForm{
      margin-top:60px;
    }

  }

  .menu-card{
    width:220px;
    .ant-card-body{
      padding:0;
    }
    .ant-menu{
      background: transparent;
      color: @white;
      .ant-menu-item{
        padding:0 10px;
        font-size: 16px;
        height:50px;
        line-height:50px;
        transition: none;
        text-transform: uppercase;
        &>a{
          color: @white;
          font-size:18px;
          font-weight:500;
          text-transform: uppercase;
        }
        &.ant-menu-item-active,&.ant-menu-item-selected{
          background-color: @topbar_more_menu_active;
          color: @white;
        }
        &:hover{
          color: inherit;
        }
      }
    }
    .ant-menu-vertical{
      border-right:0 none;
    }
    .ant-menu{
      i{
        font-size:24px;
        vertical-align: middle;
        margin-right:20px;
      }
    }
  }
}

.bookie-alert{
  padding: 20px 48px 20px 16px !important;
  border:0 none;
  background-color: transparent;
  color: @white;
  font-size:14px;
  border-radius:0;
  .ant-alert-close-icon{
    top:35%;
    height:auto;
  }
  .ant-alert-close-icon .anticon-cross{
    color: @white;
    font-size:11px;
  }
  &:hover{
    background-color: @topbar_notification_hover;
  }
  p{
    font-size:16px;
    font-weight:400;
    span{
      margin-top:10px;
      display: block;
      font-size:12px;
    }
  }
  &:last-child{
    margin-bottom:0;
  }
}
.icon-main {
  display: flex;
  height: 60px;
  align-items: center;
  width:56px;
  justify-content:center;
  i{
    display: block;
  }
  &.bitcoin-icon-main{
    padding:0;
    width:178px;
    i{
      display: inline-block;
      margin-right:5px;
    }
    .ant-dropdown-link{
      display: flex;
      align-items: center;
    }
  }
}

.mywager-icon-main{
  .mywager-icon{
    background-image: url('../../../assets/icons/mywager_icon.png');
    width:27px;
    height:22px;
    background-size: 27px 22px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover{
    .mywager-icon{
      background-image: url('../../../assets/icons/mywager_icon_hover.png');
    }
  }
}

.deposit-icon-main{
  .deposit-icon{
    background-image: url('../../../assets/icons/deposit_icon.png');
    width:29px;
    height:29px;
    background-size: 29px 29px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover{
    .deposit-icon{
      background-image: url('../../../assets/icons/deposit_icon_hover.png');
    }
  }
}


.withdraw-icon-main{
  .withdraw-icon{
    background-image: url('../../../assets/icons/withdraw_icon.png');
    width:34px;
    height:24px;
    background-size: 34px 24px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover{
    .withdraw-icon{
      height:24px;
      background-image: url('../../../assets/icons/withdraw_icon_hover.png');
    }
  }
}

.notification-icon-main{
  .notification-icon{
    background-image: url('../../../assets/icons/notifications_icon.png');
    width:18px;
    height:22px;
    background-size: 18px 22px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover{
    .notification-icon{
      background-image: url('../../../assets/icons/notifications_icon_hover.png');
    }
  }
}

.dropdown-icon-main{
  .dropdown-icon{
    background-image: url('../../../assets/icons/more_icon.png');
    width:5px;
    height:21px;
    background-size: 5px 21px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover{
    .dropdown-icon{
      background-image: url('../../../assets/icons/more_icon_hover.png');
    }
  }
}

.bitcoin-icon-main{
  .bitcoin-icon{
    background-image: url('../../../assets/icons/bitcoin_icon.png');
    width:30px;
    height:16px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
  }
  .mbitcoin-icon{
    background-image: url('../../../assets/icons/mbitcoin_icon.png');
    width:28px;
    height:15px;
    background-repeat: no-repeat;
    background-size: 28px 15px;
    background-position: center;
  }
  &:hover{
    .bitcoin-icon{
      background-image: url('../../../assets/icons/bitcoin_icon_hover.png');
    }
    .mbitcoin-icon{
      background-image: url('../../../assets/icons/mbitcoin_icon_hover.png');
    }
  }
}
.account-dropdown-icon{
  background: url('../../../assets/icons/account_icon.png') no-repeat;
  width:24px;
  height:22px;
  background-size: 100%;
  display: inline-block;
}
.top-bar-row{
  &>div{
    &:nth-of-type(2){
      flex-grow: 2;
    }
  }
}
