@import (reference) '../Main.less';
.text-right{
  text-align: right;
}
#betex-header {
  padding: 0;
  font-size: 16px;
  background-color: @nav-bar-bg;

  width: 100%;
  z-index:999;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  div.logo {
    border-right: solid 1px @nav-bar-divider;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 220px;
    padding:0 15px;
    cursor: pointer;
    img {
      width: 154px;
    }
  }
  .top-menu-wrapper {
    text-align: right;
    // setting a height value can avoid overlapping with the betting drawer
    height: 60px;
  }
  .top-menu {
    background-color: @nav-bar-bg;
    line-height: inherit;
    display: inline-block;
    border-bottom:0 none;

    li {
      padding:0;
      border-left: solid 1px @nav-bar-divider;
      margin-top:0;
      color: #00BEF4;
      &.amount {
        a{
          color: #00BEF4;
          font-size:18px;
          transition: 0s color;
        }
      }

      .anticon {
        font-size: 20px;
        color: @nav-bar-icon;
      }

      &.notification {
        span.ant-badge {
          > .anticon {
            padding-bottom: 6px;
          }

          > sup.ant-badge-count {
            box-shadow: 0 0 0 0;
            background-color: @nav-bar-icon;
          }
        }
      }
      &:hover{
        background-color: rgba(0,36,64,0.95);
        a, .anticon{
          color: #FFFFFF !important;
        }
      }
      a{
      }
      &>i, &>span{
        padding:0 20px;
      }
    }
  }
  .ant-badge-count{
    top: 0;
    min-width: 15px;
    height: 15px;
    line-height: 15px;
    padding: 0;
    margin-left: 1px;
  }
}
.ant-dropdown{
  .ant-card, .ant-dropdown-menu{
    background: #002340;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    color: #FFFFFF;
    font-size:14px;
    margin-top:-2px;
    border-radius: 0;
    border:0 none;
    .ant-card-head{
      h3{
        color: #00BEF4;
      }
    }
  }
  .bookie-amount-card{
    width:440px;
    padding: 22px 15px;
    height:auto;
    text-align: center;
    .ant-card-body{
      padding:0;
    }
    p{
      font-size:20px;
      font-weight:500;
      span{
        margin-top:10px;
        display: block;
        font-size:16px;
        font-weight:400;
      }
    }
    .ant-row{
      &>div{
        &:last-child{
          border-left:1px solid #FFFFFF;
        }
      }
    }
  }
  .deposit-card{
    width:380px;
  }
  .withdraw-card{
    width:406px;
  }
  .notification-card{
    width:400px;
    .ant-card-body{
      padding:0;
    }
  }
  .menu-card{
    width:220px;
    .ant-card-body{
      padding:0;
    }
    .ant-menu{
      background: transparent;
      color: #FFFFFF;
      .ant-menu-item{
        padding:0 10px;
        font-size: 16px;
        height:60px;
        line-height:60px;
        transition: none;
        &>a{
          color: #FFFFFF;
          font-size:18px;
          font-weight:500;
          text-transform: uppercase;
        }
        &.ant-menu-item-active{
          background-color: rgba(0,78,155,0.20);
        }
        &.ant-menu-item-selected{
          background-color: rgba(0,78,155,0.20);
          color:#fff;
        }
        &:hover{
          color: inherit;
        }
      }
    }
    .ant-menu-vertical{
      border-right:0 none;
    }
  }
}
.bookie-alert{
  padding: 20px 48px 20px 16px !important;
  border:0 none;
  background-color: transparent;
  color: #FFFFFF;
  font-size:14px;
  border-radius:0;
  .ant-alert-close-icon{
    top:35%;
    height:auto;
  }
  .ant-alert-close-icon .anticon-cross{
    color: #FFFFFF;
    font-size:18px;
  }
  &:hover{
    background-color: #2FA5E6;
  }
  p{
    font-size:16px;
    font-weight:400;
    span{
      margin-top:10px;
      display: block;
      font-size:12px;
    }
  }
  &:last-child{
    margin-bottom:0;
  }
}
.ant-dropdown-link{
  padding:0;
  display: block;
}
.icon-main {
  display: flex;
  height: 60px;
  align-items: center;
  width:56px;
  justify-content:center;
  i{
    display: block;
  }
  &.bitcoin-icon-main{
    padding:0;
    width:194px;
    i{
      display: inline-block;
      margin-right:5px;
    }
    .ant-dropdown-link{
      display: flex;
      align-items: center;
    }
  }
}

.mywager-icon-main{
  .mywager-icon{
    background-image: url('../../../assets/icons/mywager_icon.png');
    width:27px;
    height:22px;
    background-size: 27px 22px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover{
    .mywager-icon{
      background-image: url('../../../assets/icons/mywager_icon_hover.png');
    }
  }
}

.deposit-icon-main{
  .deposit-icon{
    background-image: url('../../../assets/icons/deposit_icon.png');
    width:29px;
    height:29px;
    background-size: 29px 29px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover{
    .deposit-icon{
      background-image: url('../../../assets/icons/deposit_icon_hover.png');
    }
  }
}


.withdraw-icon-main{
  .withdraw-icon{
    background-image: url('../../../assets/icons/withdraw_icon.png');
    width:34px;
    height:24px;
    background-size: 34px 24px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover{
    .withdraw-icon{
      height:24px;
      background-image: url('../../../assets/icons/withdraw_icon_hover.png');
    }
  }
}

.notification-icon-main{
  .notification-icon{
    background-image: url('../../../assets/icons/notifications_icon.png');
    width:18px;
    height:22px;
    background-size: 18px 22px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover{
    .notification-icon{
      background-image: url('../../../assets/icons/notifications_icon_hover.png');
    }
  }
}

.dropdown-icon-main{
  .dropdown-icon{
    background-image: url('../../../assets/icons/more_icon.png');
    width:5px;
    height:21px;
    background-size: 5px 21px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover{
    .dropdown-icon{
      background-image: url('../../../assets/icons/more_icon_hover.png');
    }
  }
}

.bitcoin-icon-main{
  .bitcoin-icon{
    background-image: url('../../../assets/icons/bitcoin_icon.png');
    width:30px;
    height:16px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
  }
  .mbitcoin-icon{
    background-image: url('../../../assets/icons/mbitcoin_icon.png');
    width:28px;
    height:15px;
    background-repeat: no-repeat;
    background-size: 28px 15px;
    background-position: center;
  }
  &:hover{
    .bitcoin-icon{
      background-image: url('../../../assets/icons/bitcoin_icon_hover.png');
    }
    .mbitcoin-icon{
      background-image: url('../../../assets/icons/mbitcoin_icon_hover.png');
    }
  }
}
.top-bar-row{
  &>div{
    &:nth-of-type(2){
      flex-grow: 2;
    }
  }
}
