@import '../../App/Colors.less';
@import '../../App/Common.less';


div.search-menu{
  flex: 1;
  // assume there is one li only
  li {
    padding: 0 16px 0 14px;
    input[type="text"] {
      font-size: 16px;
      border: none;
      border-bottom-left-radius: initial;
      border-bottom-right-radius: initial;
      margin-left: 7px;
      -webkit-padding-start: 35px;

      // hide the box shadow set by antd
      &:focus {
        box-shadow: none;
      }
    }
  }
  .ant-menu-vertical .ant-menu-item{
    overflow: visible;
    line-height: 38px;
    height: 44px;
    padding: 0;
  }
  .ant-menu-dark{
    background:transparent;
  }
}
.Select{
  .Select-control{
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    border:0 none;
    padding: 16px 16px 0 16px;
    border-radius: 0;
    color: @topbar_select_label;
    height: 60px;
    line-height: 22px;
    margin-left: 26px;
    width: inherit;   // override
    .Select-multi-value-wrapper {
      display: flex;
      flex: 1;
      max-width: 424px;
    }
  }
  .Select-placeholder{
    color: @topbar_select_label;
    font-size:18px;
    padding-top: 5px;
    padding-left:50px;
  }
  .Select-arrow-zone{
    display: none;
  }
  .Select-input{
    flex: 1;
    font-size:16px;
    padding-left:35px;
    padding-right:35px;
    position: relative;
    border-bottom:1px solid @topbar_select_label;
    min-width: 260px;
    &:before{
      position: absolute;
      content: '';
      left:0;
      top:0;
      .search-icon;
      .search-icon-blue;
      //Background size should be applied only after background property otherwise it would not work
      background-size: 100%;
    }
    input{
      color: @primary_label;
      height:auto;
      padding:0;
      font-size:18px;
      //overriding plugin style for preventing text cut
      width:100% !important;
      &:focus{
        border:0 none;
        box-shadow: none;
      }
    }
  }
  .Select-menu-outer{
    background-color: @topbar_search_result_bg;
    color: @primary_label;
    border:0 none;
    position: absolute;
    left:0;
    border-top:0 none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: @card_shadow;
    opacity: 1;
  }





  &.is-focused{
    background-color: @topbar_more_menu_active;
  }
  &.is-focus, &.is-open, &.has-value{
    .Select-input{
      border-bottom-color: @primary_label_border;
    }
    .Select-input,.Select-placeholder{
      color: @primary_label;
    }
    .Select-input{
      &:before{
        .search-icon;
        .search-icon-white;
        //Background size should be applied only after background property otherwise it would not work
        background-size: 100%;
      }
    }
    &.has-value{
      &> .Select-control .Select-value{
        line-height: 56px;
        padding-left:17px;
      }
    }
  }
  .Select-clear-zone{
    vertical-align: baseline;
    top: 5px;
    left: -25px;
    .Select-clear{
      display: inline-block;
      font-size: 22px;
      color: @primary_label;
      line-height: 11px;
    }
  }
  .Select-option{
    color: @primary_label;
    background-color: transparent;
    font-size:16px;
    padding-left:50px;
    &.is-focused,&.is-pseudo-focused, &.is-selected{
      color: @primary_label;
      background-color: @topbar_more_menu_active;
    }
    &:hover{
      color: @primary_label;
      background-color: @topbar_more_menu_active;
    }
  }

  .Select-option-holder{
     &.is-focused,&.is-pseudo-focused, &.is-selected{
       background-color: @topbar_more_menu_active;
     }
     &:hover{
       background-color: @topbar_more_menu_active;
     }
   }

  .Select-noresults{
    color: @primary_label;
    font-size:16px;
    padding-left:50px;
  }
  &.has-value.is-pseudo-focused{
    .Select-input{
      opacity:1;
    }
  }
  // selected result input box styling
  &.has-value{
    .Select-input{
      color: @primary_label;
      border-bottom-color: @primary_label_border;
    }
  }
  .Select-placeholder {
    max-width: 368px;
  }
  &.Select--single {
    >.Select-control {
      .Select-value {
        padding-right: 65px;
        flex: 1;
      }
    }
  }
  .Select-placeholder, .Select--single > .Select-control .Select-value {
    line-height: 44px;
  }
  // search result selected option styling
  &.has-value.Select--single,&.has-value.is-pseudo-focused.Select--single {
    >.Select-control {
      .Select-value {
        .Select-value-label {
          font-size: 18px;
          color: @primary_label;
          padding-left: 35px;
          padding-right: 35px;
        }
      }
    }
  }
}
.is-focused:not(.is-open) > .Select-control{
  box-shadow: none;
}
