.Select-placeholder, .Select--single > .Select-control .Select-value {
  line-height: 46px,
}

.Select-control{
  width: 400px;
}

div.search-menu{

    // assume there is one li only
    li {
      padding: 0 16px 0 14px;
      input[type="text"] {
        font-size: 16px;
        border: none;
        border-bottom-left-radius: initial;
        border-bottom-right-radius: initial;
        margin-left: 7px;
        -webkit-padding-start: 35px;

        // hide the box shadow set by antd
        &:focus {
          box-shadow: 0 0 0 0px;
        }
      }

      .anticon {
        font-size: 20px;
        padding-bottom: 2px;
        &:before{
          display: inline-block;
          margin-right:10px;
        }
      }
    }


  .ant-menu-vertical .ant-menu-item{
    overflow: visible;
    line-height: 38px;
    height: 44px;
    padding-top:8px;
  }

  .ant-menu-dark{
    background:transparent;
  }
  .Select-control{
    background-color: transparent;
    border:0 none;

    border-radius: 0;
    color: #00BEF4;
  }
  .Select-placeholder{
    color: #00BEF4;
    font-size:18px;
    //border-bottom:1px solid #00BEF4;
    height:auto;
    padding-left:35px;
    width:260px;
    &:focus{

    }
  }
  .Select-arrow-zone{
    display: none;
  }
  .Select-input{
    font-size:18px;
    padding-left:35px;
    border-bottom:1px solid #00BEF4;
    width:260px;
  }

}
.search-menu{
  .Select-menu-outer{
    background-color: #002340;
    color: #FFFFFF;
    border:0 none;
    position: absolute;
    left:0;
    border-top:0 none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top:0;
  }
}


.Select{
  padding:5px 0;
  &.is-focus, &.is-open{
    .Select-input{
      border-bottom-color: #FFFFFF;
    }
    .Select-input,.Select-placeholder{
      color: #FFFFFF;
    }

  }
  .Select-input{
    position: relative;
    &:before{
      content: "\E670";
      display: inline-block;
      font-family: "anticon" !important;
      position: absolute;
      left:0;
      top:0;
    }
  }
}
.Select-option{
  color: #FFFFFF;
  background-color: transparent;
  font-size:16px;
  &.is-focused,&.is-pseudo-focused, &.is-selected{
    color: #FFFFFF;
    background-color: transparent;
  }
  &:hover{
    color: #FFFFFF;
    background-color: rgba(0,78,155,0.20);
  }
}
.Select-noresults{
  color: #FFFFFF;
  font-size:16px;
}
.Select-clear-zone{
  display: none;
}

// search result selected option styling
.has-value.Select--single {
  >.Select-control {
    .Select-value {
      .Select-value-label {
        font-size: 18px;
        color: #FFFFFF;
        padding-left: 25px;
      }
    }
  }
}
.has-value.is-pseudo-focused.Select--single {
  >.Select-control {
    .Select-value {
      .Select-value-label {
        font-size: 18px;
        color: #FFFFFF;
        padding-left: 25px;
      }
    }
  }
}

.has-value.is-pseudo-focused{
  .Select-input{
    opacity:1;
  }
}
// selected result input box styling
.Select.has-value{
  .Select-input{
    color: #FFFFFF;
    border-bottom-color: #FFFFFF;
  }
}
.Select-placeholder {
  max-width: 268px;
}
.Select--single {
  >.Select-control {
    .Select-value {
      max-width: 268px;
    }
  }
}
