@import '../../App/Colors.less';
@import '../../App/Common.less';

div.bet-table-wrapper {
  &.dimmed {
    opacity: .1;
  }

  margin: 10px 5px 0px 5px;

  .ant-table{
    border-radius:0;
    table{
      border-radius:inherit;
      table-layout: fixed;
    }
  }
  > div.header {
    background-color: @betslip_header_bg;
    color: @primary_label;
    padding: 5px 6px;
    .title{
      text-transform: uppercase;
      font-weight:bold;
      display: inline-block;
      width:310px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    > span.icon {
      float: right;
      background-color: @betslip_delete_icon_bg;
      display: inline-block;
      width:18px;
      height:19px;
      line-height: 15px;
      border-radius:2px;
      text-align: center;
      cursor: pointer;
      &:hover{
        background-color: @betslip_delete_icon_hover_bg;
      }
    }
  }

  div.bet-table {
    // common table css for both back and lay sections
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
      padding: 0 6px;
    }
    div.ant-table-body {
      tr {
        line-height: 12px;
        font-size: 13px;
        td{
          height:50px;
        }
      }

      thead.ant-table-thead {
        tr{
          height:37px;
        }
        tr > th.numeric {
          font-weight: lighter;
        }
      }

      tbody.ant-table-tbody > tr {
        &.updated > td {
          background-color: @bet_table_updated_bet_bg;
        }
        > td.team > div {
          div.team {
            font-size: 12px;
            font-weight:bold;
            margin-bottom: 3px;
            word-break: break-word;
          }
        }

        > td.numeric {
          padding-right: 0px;
          padding-left: 0px;
          .arrow-icon-main{
            position: absolute;
            right:5px;
            line-height: 0;
          }
          .icon-up{
            top: 5px;
          }
          .icon-down{
            bottom:5px;
          }
          &.readonly {
            font-size: 14px;
            padding: 0 6px;
          }
          .ant-input {
            font-size: 16px;
            height: 34px;
          }
        }
        // Special override of the last cell
        > td:nth-of-type(4) {
          padding-left: 8px;
          padding-right: 5px;
        }

        > td.delete-button {
          padding: 0;
          margin: 0;
          margin-left: 5px;
          height:100%;
          position: relative;

          button {
            position: absolute;
            top: 7px;
            right: 5px;
            width: 15px;
            height: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: none;
            border: none;
            box-shadow: none;

            i{
              font-size: 10px;
              font-weight:bold;
            }
            &:hover{
              color: @primary_label_highlight;
            }
          }
        }
      }
    }

    > div.back {
      table td.delete-button > button {
        .btn-regular;
      }

      .ant-table-thead > tr > th {
        background-color: @editable_table_header_bg;
        color: white;
      }

      .ant-table-tbody > tr > td {
        border-color: @editable_table_back_body_border;
        background-color: @editable_table_back_body_bg;
        color: white;

        div.market_type {
          color: @editable_table_back_market_type;
          font-size: 10px;
        }
      }
    }

    > div.lay {
      table td.delete-button > button {
        .btn-regular;
      }

      .ant-table-thead > tr > th {
        background-color: @editable_table_lay_header_bg;
        color: white;
        word-break: normal;
      }
      .ant-table-tbody > tr > td {
        border-color: @editable_table_lay_body_border;
        background-color:@editable_table_lay_body_bg;
        color: white;

        div.market_type {
          color: @editable_table_lay_market_type;
          font-size: 10px;
        }
      }
    }

    div.no-bets {
      background: @market_drawer_unmatched_bets_empty_bg;
      height: 50px;
      position: relative;

      > div.message {
        position: absolute;
        top: 15px;
        color: white;
        width: 100%;
        text-align: center;
      }
    }
  }
}

input {
  &::-webkit-input-placeholder {color:@dark_gray !important;}
  &::-moz-placeholder          {color:@dark_gray !important;} /* Firefox 19+ */
  &:-moz-placeholder           {color:@dark_gray !important;} /* Firefox 18- */
  &:-ms-input-placeholder      {color:@dark_gray !important;}
}
