@import '../App/Colors.less';
@import '../App/Common.less';

.export-overlay{
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  background-color: @overlay_bg;
}
.export-overlay-top{
  top:60px;
}
.export-card{
  background: @export_card_bg;
  border: 1px solid @export_card_border;
  box-shadow: @card_shadow;
  color: @white;
  border-radius: 0;
  height:200px;
  width:426px;
  margin:85px auto 0;
  .ant-card-body{
    padding:10px 15px;
    height:152px;
    p{
      font-size:16px;
      padding-bottom:10px;
      line-height:30px;
    }
  }
  .ant-card-head{
    border-bottom-color: @card_header_border;
    padding:0 15px;
  }
  .ant-card-head-title{
    color: @card_blue_title;
    font-size:18px;
    font-weight:bold;
    text-transform: uppercase;
  }
  .card-footer {
    border-top: 0 none;
    text-align: center;
    padding: 0 35px;
  }
  .btn{
    width:150px;
    margin:0 auto;
  }
  .download{
    float:left;
  }
  &:hover{
    border: 1px solid @white;
    box-shadow: @card_shadow;
  }
  .loader-icon-main{
    text-align: center;
    i{
      font-size:34px;
    }
  }
  .ant-card-extra{
    right: 15px;
    a{
      color: @white;
      font-size:16px;
    }
  }
}
