.betting-market-node-container :hover {
    background-color: #00BEF4;
}

.betting-market-node-container  {
    width: 100%;
    background-color: #002039;
    color: #ffffff;
    height: 40px;
}

.betting-market-label-container {
    width: 100%;
    color: #ffffff;
    height: 40px;
    padding-top: 0px;
    padding-top: 10px;
    margin-left: 20px;
    border-bottom: solid 1px #084272;
}

.betting-market-label-container-selected {
    width: 100%;
    color: #0096E1;
    height: 40px;
    padding-top: 0px;
    padding-top: 10px;
    margin-left: 20px;
    border-bottom: solid 1px #084272;
}
