@import '../App/Colors.less';
.eventgroup-node-container:hover {
  color: @light_blue_1;
  cursor: pointer;
}

.eventgroup-node-container {
  color: @white;
  margin-left: 15px;
  padding: 10px 0;
  border-bottom: solid 1px @blue_3;
  font-weight: 500;//for roboto-medium
}

.eventgroup-label-container-selected {
  color: @light_blue_1;
  font-weight: bold;
}
