@import '../App/Colors.less';
.event-node-container:hover {
  color: @light_blue_1;
  cursor: pointer;
}

.event-node-container {
  color: @white;
  margin-left:30px;
  padding: 10px 5px 10px 0;
  border-bottom: solid 1px @blue_3;
}

.event-label-container-selected {
  color: @light_blue_1;
  font-weight: 500;//for roboto-medium
}
