@import '../App/Colors.less';
.event-node-container:hover {
  color: @primary_label_highlight;
  cursor: pointer;
}

.event-date-header {
  border-top: 1px solid @midnight_blue_border;
  border-bottom: 1px solid @midnight_blue_border;
  background-color: @midnight_blue;
  display: inherit;
  color: @primary_label;
  padding: 3px 0px 3px 15px;
  margin-left: 15px;
  font-family: 'Roboto';
  font-size: 10px !important;
}

.event-node-container {
  color: @primary_label;
  margin-left:30px;
  padding: 10px 5px 10px 0;
  .badge {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: @live_market_marker;
  }
}

.event-label-container-selected {
  color: @primary_label_highlight;
  font-weight: 500;//for roboto-medium
}
