.eventgroup-node-container:hover {
  color: #00BEF4;
  cursor: pointer;
}

.eventgroup-node-container {
  color: #ffffff;
  margin-left: 15px;
  padding: 10px 0;
  border-bottom: solid 1px #084272;
}

.eventgroup-label-container-selected {
  color: #00BEF4;
}
