@import '../App/Colors.less';

.infinity-menu-node-container {
	width: 100%;
	background-color: @infinite_menu_bg;
	color: @infinite_menu_white_label;
	height: 40px;
	padding-left: 10px;
	padding-top: 20px;
	border-bottom: solid 1px @infinite_menu_border;
}

.infinity-menu-node-container:hover {
	background-color: @infinite_menu_hover_bg;
}

.infinity-menu-leaf-container {
	width: 100%;
	background-color: @infinite_menu_leaf_bg;
	color: @infinite_menu_white_label;
	height: 30px;
	padding-left: 20px;
	padding-top: 15px;
	border-bottom: solid 1px @infinite_menu_leaf_border;
}

.infinity-menu-leaf-container:hover {
	background-color: @infinite_menu_leaf_hover_bg;
}

.infinity-menu-load-more-container {
	width: 100%;
	background-color: @infinite_menu_white_label;
	color: @infinite_menu_load_more_label;
	height: 30px;
	padding-left: 20px;
	padding-top: 15px;
	text-align: center;
	list-style-type: none;
}

.infinity-menu-load-more-container:hover {
	background-color: @infinite_menu_load_more_hover_bg;
}
.infinity-menu-container label{
	font-size: 14px;
	cursor: pointer;
	text-transform: uppercase;
}

.sidebar-main, .scrollbar-style-main{
	height:100%;
	position: relative;
}
.sidebar-main .ps-scrollbar-y-rail{
	right:0 !important;
	z-index: 9;
}
