@import '../App/Colors.less';

.sport-node-container:hover {
  color: @sports_label_selected;
  cursor: pointer;
}

.sport-node-container {
  color: @sports_label;
  margin-left: 15px;
  padding: 10px 0;
  border-bottom: solid 1px @sports_label_border;
  font-weight: 500;//for roboto-medium
}

.sport-label-container-selected {
  font-weight: bold;
  color: @sports_label_selected;
}
.sport-label-container-selected label{
  font-weight:700;
}
.sport-node-container label{
  text-transform: uppercase;
}