.field{
	border: 1px solid $field-bd-color;
	font-size: 18px;
	font-weight: $fw;
	color: $field-color;
	height: $field-height;
	background: $clear-color2;
	width: 100%;
	padding-left: 15px;
	vertical-align: top;
	text-decoration: none;
	outline: none;
	@include border-radius(5px);
	@include plhl-color(#babdbf);
	@include transition(all .15s ease);

	&[disabled]{
		cursor: not-allowed !important;
		background: #9a9eab;
		color: rgba($field-color, .5);
		& ~ .btn .calendarIcon{
			color: rgba($field-color, .5);
		}
	}
	&[readonly]{
		color: $text-color;
	}

	&:focus{
		border-color: $mark-color!important;
		& ~ .fieldPic .fieldIcon{
			color: $mark-color;
		}
	}

	&-oneLine{
		@include ellipsis;
	}
	&-pic{
		padding-left: 65px;
	}
	&-copy{
		padding-right: 80px;
	}

	&-type2{
		font-size: 16px;
		font-weight: 500;
		border-color: $field2-bd-color;
		@include box-shadow(inset 0 2px 2px rgba(0, 0, 0, 0.04));
		@include plhl-color(#b2b4b7);
		&:focus{
			border-color: $field2-bd-color!important;
		}
	}
	&-voting{
		padding-right: 150px;
		padding-left: 70px;
	}

	&-type3{
		height: 50px;
		background: $clear-color2;
		font-size: 18px;
		font-weight: 500;
		@include border-radius(3px);
		width: 100%;
		color: $text-color;
		border: none;
		padding: 0 18px;
		@include transition(all .15s ease);
		@include box-shadow(0 5px 20px rgba(0, 0, 0, 0.05));
	}
	&-type4{
		height: 26px;
		background: $clear-color2;
		font-size: 14px;
		font-weight: 500;
		@include border-radius(3px);
		width: 100%;
		color: $text-color;
		border: 1px solid #d6d6d6;
		padding: 0 18px;
		@include transition(all .15s ease);
		@include box-shadow(0 5px 20px rgba(0, 0, 0, 0.05));
		&:focus{
			border-color: $field2-bd-color!important;
		}
	}
	&-btnFloated160{
		padding-right: 160px;
	}
	&-btnFloated110{
		padding-right: 110px;
	}
	&-btnFloated80{
		padding-right: 80px;
	}
	&-btnFloated150{
		padding-right: 150px;
	}

	&-search{
		padding-right: 50px;
	}
	&-red{
		color: $red!important;
	}
}
.textarea{
	padding: 15px 0 15px 15px;
	line-height: 1.25;
	height: 100px;
	&-pic{
		padding-left: 58px;
	}
	&-h160{
		height: 160px;
	}
}
.btn{
	height: $btn-height;
	width: auto;
	min-width: 176px;
	padding: 0 25px;
	margin: auto;
	text-align: center;
	background: #e1e1e1;
	border: 2px solid transparent;
	vertical-align: top;
	color: $clear-color2;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	white-space: nowrap;
	@include border-radius(5px);
	@include transition(background .2s ease);
	&[disabled]{
		cursor: not-allowed;
		.btnText{
			padding-top: 0;
		}
	}

	&Text{
		display: inline-block;
		vertical-align: middle;
	}

	&:active{
		.btnText{
			padding-top: 2px;
		}
	}
	& + &{
		margin-left: 15px;
	}

	&-color1{
		background: $color-second;
		&[disabled]{
			background: $color-second!important;
			border-color: transparent!important;
		}
		&:hover{
			background: $color-second-hover;
		}
		&:active{
			background: $color-second-active;
			border-color: $color-second-bd-color;

		}
	}
	&-gold,
	&-color2{
		background: $color-add2;
		color: $color-add2-text;
		&[disabled]{
			background: $color-add2!important;
			border-color: transparent!important;
		}
		&:hover{
			background: $color-add2-hover;
		}
		&:active{
			background: $color-add2-hover;
			border-color: $color-add2-bd-color;

		}
	}
	&-color3{
		background: $color-add3;
		color: $color-add3-text;
		&:hover{
			background: darken( $color-add3, 5% );
		}
	}
	//green btn
	&-color5{
		background: $green2;
		&[disabled]{
			background: $green2!important;
			border-color: transparent!important;
		}
		&:hover{
			background: lighten( $green2, 5% );
		}
		&:active{
			background: lighten( $green2, 5% );

		}
	}
	//red btn
	&-color6{
		background: $red;
		&[disabled]{
			background: $red!important;
			border-color: transparent!important;
		}
		&:hover{
			background: lighten( $red, 5% );
		}
		&:active{
			background: lighten( $red, 5% );

		}
	}
	//new def blue btn on login page
	&-color7{
		background: $new-blue15;
		&[disabled]{
			background: $new-blue15!important;
			border-color: transparent!important;
		}
		&:hover{
			background: rgba($new-blue15, .8);
		}
		&:active{
			background: darken($new-blue15, 10%);
			border-color: darken($new-blue15, 10%);

		}
	}
	//new dark blue btn on login page
	&-color8{
		background: $new-blue16;
		&[disabled]{
			background: $new-blue16!important;
			border-color: transparent!important;
		}
		&:hover{
			background: rgba($new-blue16, .8);
		}
		&:active{
			background: darken($new-blue16, 10%);
			border-color: darken($new-blue16, 10%);

		}
	}
	//gray btn
	&-color9{
		background: $gray5;
		&[disabled]{
			background: $gray5!important;
			border-color: transparent!important;
		}
		&:hover{
			background: rgba($gray5, .8);
		}
		&:active{
			background: darken($gray5, 10%);
			border-color: darken($gray5, 10%);

		}
	}

	&-transp1{
		border-width: 1px;
		background: transparent;
		color: $btn-transp1-color;
		border-color: $btn-transp1-color;
	}
	&-rounded{
		@include border-radius(50px);
	}
	&-hMD{
		height: 42px;
	}
	&-h38{
		height: 38px;
	}
	&-sm{
		height: 30px;
		font-size: 13px;
		min-width: 120px;
	}

	&-mark{
		@extend .btn-transp1;
		display: inline-block;
		height: 38px;
		line-height: 36px;
		min-width: 0;
		padding: 0 18px;
		font-weight: 500;
		@include border-radius(20px);
		&.pulledLeftMinus20{
			margin-left: -20px!important;
		}
		&-explore{

		}
	}
	&-mark2{
		border: 2px solid;
		height: 24px;
		line-height: 20px;
		min-width: 0;
		padding: 0;
		text-align: center;
		width: 100px;
		max-width: 100%;
		font-weight: 600;
		font-size: 12px;
		background: transparent;
		@include border-radius(20px);
		&.buy{
			border-color: $green3;
			color: $green3;
		}
		&.sell{
			border-color: $red2;
			color: $red2;
		}
	}

	&-fsz-18{
		font-size: 18px;
	}


	&-copy{
		@extend .btn-color9;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		height: $field-height;
		min-width: 80px!important;
		padding: 0;
		@include border-radius(0 5px 5px 0);
	}
	&-floatedRight{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		height: $field-height;
		padding: 0;
		@include border-radius(0 5px 5px 0);
	}
	&-voting{
		min-width: 150px;
	}
	&-add{
		@extend .btn-color1;
		min-width: 140px;
		height: 52px;
	}
	&-remove{
		@extend .btn-color1;
		min-width: 120px;
		height: 44px;
	}
	&-neutral{
		@extend .btn-color3;
	}
	&-neutral2{
		@extend .btn-color3;
	}
	&-success{
		@extend .btn-color1;
	}
	&-advOptAside{
		@extend .btn-color1;
		font-size: 14px;
		height: 42px;
		padding: 0 20px;
	}
	&-sbm{
		@extend .btn-color7;
		min-width: 210px;
		padding: 0;
		&-lg{
			min-width: 280px;
		}
	}
	&-sign{
		@extend .btn-color8;
		min-width: 210px;
		padding: 0;
	}
	&-transfer{
		height: 42px;
		line-height: 38px;
		min-width: 120px;
		padding: 0;
		width: 120px;
		margin: 0;
	}
	&-voteHead{
		@extend .btn-color1;
		min-width: 150px;
		padding: 0;
		height: 52px;
		margin-left: 30px;
	}
	&-set{
		@extend .btn-color1;
		min-width: 120px;
		height: 40px;
	}
	&-proposal{
		@extend .btn-color1;
		min-width: 100px;
		height: 44px;
		padding: 0;
	}
	&-seeMore{
		@extend .btn-color3;
		min-width: 225px;
	}
	&-explore{
		@extend .btn-color1;
		min-width: 100px;
		height: 42px;
		padding: 0;
	}

	&Bottom{
		margin: 20px 0;
		text-align: center;
	}

	&-loginBack{
		@extend .btn-color9;
		width: 100%;
		min-width: 100px;
		padding: 0;
	}
	&-loginPrint{
		@extend .btn-color1;
		width: 100%;
		min-width: 100px;
		padding: 0;
	}
	&-loginOk{
		@extend .btn-color7;
		width: 100%;
		min-width: 100px;
		padding: 0;
	}

	&-sendForm{
		@extend .btn-color1;
	}
	&-buy{
		background: $green3;
		border: none;
		min-width: 0;
		padding: 0;
		width: 125px;
	}
	&-sell{
		background: $red2;
		border: none;
		min-width: 0;
		padding: 0;
		width: 125px;
	}

	&-join{
		@extend .btn-color1;
		min-width: 100px;
		width: 100px;
		padding: 0;
		height: 40px;
	}
	&-details{
		@extend .btn-color1;
		min-width: 100px;
		width: 100px;
		padding: 0;
		height: 40px;
	}
	&-register{
		@extend .btn-color5;
		min-width: 100px;
		width: 100px;
		padding: 0;
		height: 40px;
	}
	&-play{
		@extend .btn-color5;
		min-width: 100px;
		width: 100px;
		padding: 0;
		height: 40px;
	}
	&-cancel{
		@extend .btn-color6;
		min-width: 100px;
		width: 100px;
		padding: 0;
		height: 40px;
	}

	//new db
	&-content__head{
		@extend .btn-color1;
		span{
			padding: 0 2px;
			vertical-align: middle;
		}
	}
	//game play. create
	&-calendar{
		background: transparent;
		width: 70px;
		min-width: 0;
		text-align: center;
		height: auto;
		&:hover{
			.calendarIcon{
				color: $faded-color;
			}
		}
	}
	&-whiteListAdd{
		@extend .btn-color1;
		min-width: 0;
		width: 100px;
	}
	&-claim{
		@extend .btn-color1;
		width: 120px;
		min-width: 0;
	}
	&-reset{
		@extend .btn-color9;
		min-width: 100px;
	}
}
.rank__btn{
	width: 44px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: $clear-color2;
	font-size: 16px;
	font-weight: 500;
	@include border-radius(4px);
	&.pos{background: $rank-pos-color;}
	&.neg{background: $red;}
}
.attach{
	&Input{
		opacity: 0;
		position: absolute;
		top: -18px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		cursor: pointer;
	}
	&Btn{
		display: block;
		overflow: hidden;
		@extend .btn-color9;
		min-width: 120px;
		height: 100%;
		line-height: 46px;
		padding: 0;
	}
	&Next{
		overflow: hidden;
		margin-left: 120px;
	}
}
.btn-w-100{
	min-width: 100px;
}
.btn + .btn.ml-2 {
	margin-left: 2px;
}

.row-attach{
	position: relative;
	.attachBtn{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		@include border-radius(5px 0 0 5px);
	}
	.field{
		border-left: none;
		@include border-radius(0 5px 5px 0);
	}
}