.jq-selectbox{
	width: 100%;
	&.opened{
		.jq-selectbox__select{
			@include border-radius(3px 3px 0 0);
		}
	}
	&.dropup{
		.jq-selectbox__dropdown{
			border-top: none;
			border-bottom: 1px solid $field2-bd-color;
			@include box-shadow(0 -6px 20px rgba(0, 0, 0, 0.05));
		}
	}
	&__select{
		height: 50px;
		background: $clear-color2!important;
		font-size: 18px;
		font-weight: 500;
		@include border-radius(3px);
		width: 100%;
		color: $text-color;
		border: none!important;
		padding: 0 18px;
		text-shadow: none;
		@include transition(all .15s ease);
		@include box-shadow(0 5px 20px rgba(0, 0, 0, 0.05));

		&-text{
			width: 100%!important;
			line-height: 50px;
		}
		.bd &{
			border: 1px solid #818b95!important;
			@include box-shadow(none);
		}
	}
	&__trigger{
		position: absolute;
		font-size: 6px;
		line-height: 50px;
		color: $text-color;
		top: 0;
		right: 0;
		width: 31px;
		height: 100%;
		border-left: none;
		&:before{
			display: block;
			content: "\e901";
			font-family: icomoon, sans-serif!important;
		}
		&-arrow{
			display: none;
		}
		.two-arrow &{
			&:before{
				position: absolute;
				top: 0;
				margin-top: 4px;
				display: block;
				content: "\e901";
				font-family: icomoon, sans-serif!important;
			}
			&:after{
				position: absolute;
				top: 0;
				margin-top: -4px;
				display: block;
				content: "\e901";
				font-family: icomoon, sans-serif!important;
				@include transform(rotate(180deg));
				text-align: right;
				padding: 0 1px;
			}
		}
	}
	&__dropdown{
		@include box-shadow(0 6px 20px rgba(0, 0, 0, 0.2));
		border-top: 1px solid $field2-bd-color;
		top: 100%!important;
	}
	ul{

		max-height: 200px;
	}
	li{
		font-size: 16px;
		color: $text-color;
		background: $clear-color2;
		padding: 10px 18px;
		@include transition();
		&:hover{
			background: $gray-color2!important;
			color: $text-color;
		}
		&.selected{
			background: $clear-color2;
			color: $text-color;
		}
		&.disabled{
			cursor: default;
			background: transparent!important;
		}
	}
}
.select2{
	.jq-selectbox__select{
		border: 1px solid $select-bd-color!important;
	}
	.jq-selectbox__dropdown{
		border: 1px solid $select-bd-color!important;
		margin-top: -1px;
	}
}