.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1056;
	overflow: hidden;
	opacity: 0;
	@include transition();
	&.fade {
		opacity: 0;
	}
	&.in {
		opacity: 1;
	}
	&-backdrop {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1055;
		background-color: $clear-color;
		@include transition();
		&.fade {
			opacity: 0;
		}
		&.in {
			opacity: 0.5;
		}
		&.white{
			background-color: #fff;
		}
	}
	&-open{
		overflow: hidden!important;
	}
	&-dialog {
		position: absolute;
		z-index: 1050;
		margin: 0;
		width: 100%!important;
		left: 0;
		top: 0;
		bottom: 0;
		overflow: auto;

		&AlignOut{
			@include va_middle_out;
			position: relative;
			height: 100%;
			text-align: center;
		}
		&AlignIn{
			@include va_middle_in;
			font-size: 13px;
			line-height: 1.25;
			padding: 10px 0;
		}

		.modalContent {			
			color: $black;

			.modalLabel {
				font-size: 20px;
			}

			.modalValue {
				font-weight: bold;
				font-size: 15px;
			}

			.modalReceiver, .modalSender {
				display: inline-block;
				margin-bottom: 25px;
			}

			.modalMessage {
				background-color: $gray4;
				padding: 25px;
			}

			p {
				display: inline;
				padding: 10px;
			}
		}

		&Content{
			position: relative;
			text-align: left;
			margin: auto;
			width: 730px;
			max-width: 100%;
			background: $clear-color2;
			padding: 30px 50px 40px;
			-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
			box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
			@include border-radius(2px);
			&-w400{
				width: 400px;
				max-width: 100%;
			}
			&.w-900{
				width: 900px;
				max-width: 100%;
			}
			&-type02{
				@include border-radius(10px);
				-webkit-box-shadow: 0 9px 30px rgba(0, 0, 0, 0.25);
				box-shadow: 0 9px 30px rgba(0, 0, 0, 0.25);
				.modalTitle{
					font-size: 20px;
					text-align: center;
				}
				.btn{
					min-width: 200px;
				}
			}
		}
	}
	&Close{
		position: absolute;
		top: 0;
		right: 0;
		padding: 20px;
		font-size: 13px;
		color: rgba(0,0,0,.3);
		@include transition();
		&:hover{color: rgba(0,0,0,.8);}
	}
	&Title{
		color: $clear-color;
		font-size: 24px;
		font-weight: 400;
		margin-bottom: 30px;
		font-family: $ff-main;
	}
	&Body{
		font-size: 16px;
		color: #757575;
		margin-bottom: 20px;
		font-family: $ff-main;
	}
	&Footer{
		overflow: hidden;
		margin: 20px 0 0;
	}
}

//modal Confirm
.mConf{
	&__content{
		padding: 10px 0 20px;
	}
	&__title{
		text-transform: uppercase;
		color: $color-second;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 20px;
	}
	&__table{
		&Row{
			overflow: hidden;
			font-size: 16px;
			line-height: 38px;
			font-weight: 600;
			padding: 0 30px 0 10px;
			&:nth-child(odd){
				background: rgba($color-second, .05);
			}
		}
		&Left{
			float: left;
			width: 50%;
			color: rgba($text-color, .5);
		}
		&Right{
			float: left;
			width: 50%;
			text-align: right;
			color: $text-color;
		}
	}
}