.nav{
	//display: flex;
	//justify-content: space-around;
	height: 100%;
	min-width: 450px;
	overflow: hidden;
	&__right{
		float: right;
		padding-left: 30px;
		//overflow: hidden;
		white-space: nowrap;
		.nav__linkIcon{
			color: $faded-color;
		}
		.nav__link{
			margin-right: 0;
			padding: 0 20px;
			margin-left: 5px;
		}
		& > .nav__link{
			&:first-child{padding-left: 0;}
			&:last-child{padding-right: 0;}
		}
	}
	&-bd{
		border-left: 1px solid $menu-limiter-color;
		border-right: 1px solid $menu-limiter-color;
		padding: 0 2%!important;
		.bb{
			position: relative;
			height: 100%;
			display: block;
			//line-height: 104px;
			line-height: 54px;
		}
		& +  &{
			border-left: none;
		}
	}
	&-bdl{
		border-left: 1px solid $menu-limiter-color;
		padding: 0 25px;
	}
	&__item{
		white-space: nowrap;
		.nav__link{
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		.nav__link + .nav__link{
			padding-left: 35px;
		}
	}
	&__link{
		position: relative;
		display: inline-block;
		padding: 0 1%;
		font-weight: 500;
		color: $faded-color;
		//line-height: 104px;
		line-height: 52px;
		//margin-right: 1%;
		margin-right: 25px;
		&:last-child{
			margin-right: 0;
		}

		&Align{
			font-size: 0.9375rem;
			line-height: 1.25;
			white-space: nowrap;
		}
		&Icon, &Icon-filled{
			font-size: 22px;
			vertical-align: middle;
			padding-right: 4px;
			//height: 105px;
			//line-height: 105px;
			height: $headerHeight;
			line-height: $headerHeight;
			color: $nav-icon-color;
			&.icon-funds,
			&.icon-funds-filled{
				//font-size: 18px;
				font-size: 14px;
			}
		}
		&Icon{
			display: inline-block;
		}
		&Icon-filled{
			display: none;
		}
		&Text{
			display: inline-block;
			vertical-align: middle;
		}

		&:hover{
			color: $text-color;
			&.bb:before,
			.bb:before{width: 100%;}
			.nav__linkIcon-blank{display: none;}
			.nav__linkIcon-filled{display: inline-block;}
		}
		&:active, &.active{
			color: $text-color;
			&.bb:before,
			.bb:before{width: 100%;}
			.nav__linkIcon-blank{display: none;}
			.nav__linkIcon-filled{display: inline;}
		}
	}
	
	.bb:before{
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		width: 0;
		height: 3px;
		left: 0;
		right: 0;
		margin: auto;
		border-radius: 3px 3px 0 0;
		background: $nav-active-bg;
		@include transition(all 0.15s ease-out);
	}
}

.notice{
	&__wrap{
		display: inline-block;
		position: relative;
	}
	&__num{
		position: absolute;
		top: 25px;
		left: 30px;

		height: 17px;
		width: 17px;
		font-size: 12px;
		font-weight: 500;
		line-height: 17px;
		text-align: center;
		color: #fff;
		background: #fe3740;
		@include border-radius(50%);
	}
	&__itemsBox{
		margin-top: 10px;
		position: absolute;
		top: 100%;
		right: 0;
	}
	&__item{
		display: none;
		position: relative;
		font-size: 13px;
		background: #fff;
		@include border-radius();
		width: 450px;
		border-bottom: 1px solid #d5d6e3;
		padding: 10px 40px 7px 20px;
		color: $new-blue;
		white-space: normal;
		&.active{
			display: block;
		}
		&:first-child{
			@include border-radius(3px 3px 0 0);
		}
		&:last-child{
			@include border-radius(0 0 3px 3px);
			border-bottom: none;
		}
		&:first-child:last-child{
			@include border-radius();
		}
		&Title, h1{
			color: $new-blue;
			font-size: 13px;
			font-weight: 500;
			margin-bottom: 2px;
			letter-spacing: .05px;
		}
		&Link,  a{
			font-size: 13px;
			font-weight: 500;
			margin-bottom: 2px;
			color: $color-second;
			max-width: 100%;
			//@include ellipsis;
			//display: inline-block;
			@include transition();
			&:hover{opacity: .6;}
		}
		&Close{
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 10px;
			color: rgba($new-blue, .2);
			@include transition();
			&:hover{
				color: rgba($new-blue, .6);
			}
		}
	}
}
