.customRadio__label {
  cursor: pointer;
  display: block;
  margin: 0;
  @include user-sel-n;

  &.inline {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
  }

  &Relative {
    display: inline-block;
    position: relative;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    float: left;
    margin-top: 2px;
  }

  &Pseudo {
    display: block;
    overflow: hidden;
    padding: 10px 0 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 3px;
    color: $text-color-bg;
  }
}

.customRadio__check {
  opacity: 0;
  visibility: hidden;
  height: 30px;
  width: 30px;

  &:checked+.customRadio__checkPseudo:before {
    opacity: 1;
    @include border-radius(50%);
  }

  &Pseudo {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 2px solid $color-second;
    @include border-radius(50%);

    &:before {
      opacity: 0;
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      margin: -6px 0 0 -6px;
      @include border-radius(0);
      top: 50%;
      left: 50%;
      background: $color-second;
      @include transition();

    }
  }
}