//temp style, need to del when styles update
#content{
	height: 100%;
}
.Select{
	position: relative;
	&-control{
		position: relative;
		z-index: 1;
		height: 50px;
		background: #fff!important;
		font-size: 18px;
		font-weight: 500;
		@include border-radius(3px);
		width: 100%;
		color: $text-color;
		border: none!important;
		padding: 0 18px;
		text-shadow: none;
		@include transition(all .15s ease);
		@include box-shadow(0 5px 20px rgba(0, 0, 0, 0.05));
	}
	&-clear-zone{
		display: none;
	}
	&-input{
		opacity: 0;
	}
	&-multi-value-wrapper{
		display: block;
		height: 100%;
	}
	&-placeholder{
		line-height: 50px;
	}
	&-arrow-zone{
		position: absolute;
		font-size: 6px;
		line-height: 50px;
		color: $text-color;
		top: 0;
		right: 0;
		width: 31px;
		height: 100%;
		border-left: none;
	}
	&-arrow{
		&:before{
			display: block;
			content: "\e901";
			font-family: icomoon, sans-serif!important;
		}
	}
	&-value{
		height: 100%;
		cursor: pointer;
		&-label{
			line-height: 50px;
		}
	}

	&-menu-outer{
		position: absolute;
		top: 100%!important;
		width: 100%;
		left: 0;
		z-index: 2;
		border: none;
		background: #FFF;
		padding: 0;
		margin: 0;
		//max-height: 200px;
		@include box-shadow(0 6px 20px rgba(0, 0, 0, 0.05));
		-webkit-overflow-scrolling: touch;
	}
	&-menu {
		max-height: 190px;
		overflow-y: auto;
	}
	&-option {
		cursor: pointer;
		display: block;
		font-size: 16px;
		color: $text-color;
		background: #fff;
		padding: 10px 18px;
		@include transition();
		&:hover{
			background: #ececec!important;
			color: $text-color;
		}
	}
	&-option.is-selected {
		background: #fff;
		color: $text-color;
	}
	&-option.is-focused {
		background: #ececec!important;
		color: $text-color;
	}
	&-option.is-disabled {
		color: #cccccc;
		cursor: default;
		background: transparent!important;
	}
	&-noresults {
		color: #999999;
		cursor: default;
		display: block;
		padding: 8px 10px;
	}
}
.select2{
	.Select-control{
		border: 1px solid $select-bd-color!important;
	}
	.Select-menu-outer{
		border: 1px solid $select-bd-color!important;
		margin-top: -1px;
	}
}