$datepickerBlue: #33b7ef;
$datepickerRed: #f63d68;


.fieldWrap {
  .react-date-field {
    display: block !important;
  }

  .react-date-field__input {
    padding-right: 80px !important;
  }

  .react-date-field__picker {
    left: 100% !important;
    margin-left: -80px;
    margin-top: 20px;
    min-width: 300px !important;
    border: none !important;
    @include border-radius(5px);
    overflow: hidden;
    color: $text-color;
    font-size: 13px;
  }

  .react-date-picker__month-view--theme-default {

    .react-date-picker__month-view-day--in-hover-range .react-date-picker__month-view-day-text,
    .react-date-picker__month-view-day--in-range .react-date-picker__month-view-day-text,
    .react-date-picker__month-view-day--value .react-date-picker__month-view-day-text {
      background: $datepickerBlue;

      &:hover {
        background: rgba($datepickerBlue, .8);
      }
    }

    .react-date-picker__month-view-day--active .react-date-picker__month-view-day-text {
      border-color: $datepickerBlue;
    }

    .react-date-picker__month-view-day--weekend-highlight {
      color: $datepickerRed;
    }

    .react-date-picker__month-view-day--next-month,
    .react-date-picker__month-view-day--prev-month {
      color: #bbbbbb;
    }

    .react-date-picker__month-view-week-number {
      color: rgba($text-color, .5);
    }

    .react-date-picker__month-view-day--in-hover-range.react-date-picker__month-view-day--today-highlight .react-date-picker__month-view-day-text,
    .react-date-picker__month-view-day--in-range.react-date-picker__month-view-day--today-highlight .react-date-picker__month-view-day-text,
    .react-date-picker__month-view-day--value.react-date-picker__month-view-day--today-highlight .react-date-picker__month-view-day-text {
      color: #fff;
    }

    .react-date-picker__footer-button {
      height: 24px;
      padding: 0;
      width: 60px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      border-radius: 5px;
      margin: 0 5px;
      border: none !important;
      background: #e2e2e3;
      color: #9ea1a5;
      @include transition();

      &:not(.react-date-picker__footer-button--disabled):hover {
        background: rgba(#e2e2e3, .8);
        color: #9ea1a5;
      }

      &:nth-child(1) {
        background: $datepickerBlue;
        color: #fff;

        &:not(.react-date-picker__footer-button--disabled):hover {
          background: rgba($datepickerBlue, .8);
          color: #fff;
        }
      }

    }

    .react-flex-item+.react-date-picker__footer-button {
      background: $datepickerBlue;
      color: #fff;

      &:not(.react-date-picker__footer-button--disabled):hover {
        background: rgba($datepickerBlue, .8);
        color: #fff;
      }
    }

  }

  .react-date-picker__nav-bar--theme-default {
    .react-date-picker__nav-bar-arrow {
      color: #a2a7ab;
    }

    .react-date-picker__nav-bar-arrow.react-date-picker__nav-bar-secondary-arrow {
      color: #72787f;
    }
  }


  .react-date-picker__date-format-spinner {
    @include border-radius(5px);
  }


  .react-date-picker__footer--theme-default {
    padding: 5px 10px 20px !important;

  }
}