.table{
	width: 100%;
	background: $table-bg;
	@include box-shadow($table-shadow);
	@include border-radius(4px);
	&__title{
		color: $table-title-color;
		font-size: 16px;
		padding: 17px 0 8px;
		&.type2{
			margin: 0;
			font-size: 20px;
			padding-top: 50px;
		}
	}
	&__marker{}
	&__btns{
		padding: 20px 0;
		text-align: center;
		&.active{
			display: block;
		}
	}
}
.tr{
	&-head{
		border-bottom: 1px solid $th-bd-color;
	}
	&-hidden{
		display: none;
		&.active{
			display: table-row;
			background: $table-hidden-bg;
		}
		& + .tr-main{
			@include box-shadow($table-hiddenLast-shadow);
		}
	}
	&.opened{
		& + .tr-hidden{
			@include box-shadow($table-hidden-shadow);
		}
	}
}
.th{
	height: 53px;
	vertical-align: middle;
	text-align: right;
	font-size: 14px;
	color: $th-color;
	background: $th-bg;

	font-weight: 400;
	&:first-child{
		@include border-radius(4px 0 0 0);
	}
	&:last-child{
		padding-right: 40px;
		@include border-radius(0 4px 0 0);
	}
	&__in{
		padding: 0 2px;
	}
	&__marker{text-align: left;padding-left: 40px;}
	&__assetsSym{text-align: left;padding-left: 40px;}
	&__assetsName{text-align: left;}
	&__action{}
}
.td{
	height: 67px;
	font-size: 16px;
	text-align: right;
	vertical-align: middle;
	color: $text-color-bg;
	width: 14%;
	&:last-child{
		padding-right: 30px;
	}
	&__in{
		padding: 0 2px;
	}

	&__marker{text-align: left;padding-left: 45px;}
	&__assetsSym{text-align: left;padding-left: 45px;width: 17%;}
	&__assetsName{text-align: left;width: 11%;}
	&__action{
		text-align: right;
	}
}
//old
.tableValue{
	&__dd{
		display: inline-block;
		min-width: 105px;
		text-align: right;
	}
	&__trigger{
		font-size: 13px;
		color: $th-color;
		padding-right: 0;
		&.ddTrigger:after{
			right: -15px;
			font-size: 6px;
			color: $th-color;
			margin-top: -3px;
		}
	}
	&__ddMenu{
		margin-top: 19px;
		text-align: left;
		width: 220px;
		.ddMenu__link{
			padding-right: 20px;
		}
	}
}//old

.tableOperation{
	&__dd{
		display: inline-block;
	}
	&__trigger{
		color: $th-color;
		padding-right: 30px;
		&.ddTrigger:after{
			content: "\e90c";
			right: 0;
			font-size: 20px;
			line-height: 1;
			color: $th-color;
			margin-top: -10px;
		}
	}
	&__ddMenu{
		text-align: left;
		width: 180px;
		left: 0;
		right: auto;
		margin: 23px 0 0 -20px;
		.ddMenu__link{}
	}

}
.tableAction{
	position: relative;
	padding: 5px 0 5px 5px;
	&__dd{
		min-width: 75px;
	}
	&__text{
		font-size: 16px;
		color: $text-color-bg;
		padding-right: 10px;
	}
	&__icon{
		position: absolute;
		font-size: 20px;
		color: #d5d5d5;
		right: -20px;
		top: 50%;
		margin-top: -11px;
		@include transition(color .2s ease);
		&.icon-str_close{}
		&.icon-str_open{display: none;}
	}
	&__trigger{
		&.ddTrigger:after{
			content: none;
		}
	}
	&__dd {
		&Menu{
			max-width: 300px;
			width: auto;
			text-align: left;
			min-width: 180px;
		}
		&.open{
			.icon-str_open{display: inline;}
			.icon-str_close{display: none;}
		}
		.ddMenu__link{
			padding: 12px 10px  12px 20px;
		}

	}

	&:hover{
		.tableAction__icon{
			color: #b1b4b6;
		}
	}
}

.table2{
	display: table;
	box-shadow: $table-shadow;
	border-radius: 5px;
	&__title{
		font-size: 26px;
		font-weight: 500;
		color: $text-color-bg;
		margin: 0 0 20px;
	}
	&__btns{
		padding: 0 30px;
		margin: 20px 0 ;
		&.noXPad{
			padding-right: 0;
			padding-left: 0;
		}
	}
}
.table-scroll{
	display: block;
	.table__head,
	.table__body,
	.tableRow{
		display: block;
	}
	.table__head,
	.tableRow{
		overflow: hidden;
	}
	.table__head.no_ov{
		overflow: visible;
	}
	.tableCell{
		float: left;
	}
}

.table-sm{
	.table__head{
		.tableCell{
			font-size: 12px;
			text-transform: uppercase;
			padding-top: 7px!important;
			padding-bottom: 7px;
			&:first-child,&:last-child{
				@include border-radius(0);
			}
		}
	}
	.tableCell{
		font-size: 14px;
		min-width: 50px;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.tableRow:first-child .tableCell{
		padding-top: 8px;
	}
	.tableRow:last-child .tableCell {
		padding-bottom: 8px;
	}
}
.table3{
	display: block;
	box-shadow: none!important;
	border-radius: 0!important;

	.table__head,
	.table__body,
	.tableRow{
		display: block;
	}
	.tableRow{
		overflow: hidden;
	}
	.table__head{
		overflow: hidden;
		background: $section-head-color!important;
		.tableCell{
			font-weight: 500;
			border-bottom-color: $section-head-color;
		}
	}
	.tableRow:nth-child(even){
		background: rgba($color-second, .1);
	}
}

.tableRow{
	display: table-row;
	&.open{
		& .icon-str_open{
			opacity: 1;
			visibility: visible;
		}
	}
	&:first-child .tableCell{
		padding-top: 15px;
	}
	&:last-child .tableCell{
		padding-bottom: 15px;
	}
}
.tableCell{
	display: table-cell;
	min-width: 125px;
	padding: 11px 1%;
	vertical-align: middle;
	position: relative;
	color: $text-color-bg;
	&:last-of-type{
		padding-right: 30px;
	}
	&:first-of-type{
		padding-left: $insideXPad;
	}
	&.light{
		color: $text-color2;
	}
	.red{
		color: $red;
	}
	.green{
		color: $green2;
	}

	a{
		color: $text-color-bg;
	}
	&__desc{
		display: block;
		font-size: 12px;
		color: #bbbdc0;
	}
	&__link{
		font-weight: 600;
		color: $color-second;
	}
	&__pic{
		height: 33px;

	}
}

.table__head{
	font-size: 14px;
	cursor: inherit !important;
	background: $th-bg;
	& .tableCell{
		padding-top: 17px!important;
		padding-bottom: 17px;
		border-bottom: 1px solid $th-bd-color;
		color: $th-color;
		&:first-child{
			@include border-radius(4px 0 0 0);
		}
		&:last-child{
			@include border-radius(0 4px 0 0);
		}
	}
}
.table__body{
	display: table-row-group;
	font-size: 16px;
}
.table__footer{
	&-btn{
		margin: 0 auto;
		display: block;
		width: 224px;
	}
}
.table__sorting{
	&:hover{opacity: .6;}
	&Wrap{
		position: absolute;
		right: 21px;
		top: 17px;
	}
	&Icon{
		color: $sort-arrow-color;
		font-size: 17px;
		& + &{
			margin-left: 0;
			vertical-align: top;
		}
		&.down{
			@include transform(rotate(180deg));
			display: inline-block;
		}
		&.active{
			color: $sort-arrow-active;
		}
	}
}
.table__scroll{
	max-height: 400px;
	//overflow: auto;
	&.maxHeight-620{
		max-height: 620px;
	}
}

.table__wrap{
	margin-bottom: 23px;
}
.table__section{
	margin-bottom: 40px;
	&:last-child{
		margin-bottom: 0;
	}
}

//explorer page
.table-explore-acc{
	.tableCell{
		&:last-child{
			width: 10px;
			min-width: 120px;
		}
	}
}
.table-explore-freeSchedule{
	.tableCell{
		&:nth-child(1){
			width: 30%;
		}
		&:nth-child(2){
			width: 20%;
		}
		&:nth-child(3){
			width: 20%;
		}
		&:nth-child(4){
			width: 30%;
		}
	}
}
.table-db-rec-blocks{
	.tableCell{
		&:nth-child(1){}
		&:nth-child(2){
			padding-right: 10%;
		}
		&:nth-child(3){
			padding-left: 10%;
		}
		&:nth-child(4){}
	}
}
.tableScroll{
	overflow: auto;
	height: 100px;
	.table{
		margin-top: -52px;
	}
}
//exchange page
.table__tab{
	overflow: hidden;
	&Item{
		float: left;
	}
	&Link{
		display: block;
		height: 30px;
		line-height: 30px;
		color: #fff;
		font-weight: 500;
		font-size: 13px;
		padding: 0 14px;
		&.active{
			background: $new-blue12;
			background: $table-tab-active;
		}
	}
}
.table__empty{
	@include va_middle_out;
	&In{
		@include va_middle_in;
		font-size: 16px;
		line-height: 1.2;
		color: $text-color-bg;
		text-align: center;
	}
}
.tableRow__del{
	position: absolute;
	padding: 5px;
	right: 0;
	top: 0;
	@include transition();
	&:hover{opacity: .6;}
	&Icon{
		font-size: 5px;
		color: $red2;
	}
}


.table-db-rec-activity{
	table-layout: fixed;
	.tableCell{
		&:nth-child(1){
			width: 26%;
			.btn-mark{
				max-width: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				padding: 0 15px;
			}
		}
		&:nth-child(2){
			width: 13%;
		}
		&:nth-child(3){
			width: 13%;
		}
		&:nth-child(4){
			width: 33%;
		}
		&:nth-child(5){
			width: 15%;
		}
	}
}
.table-voting-witnesses,
.table-voting-committee{
	.tableCell{
		width: 20%;
	}
}

.table-history{
	.tableRow:last-child .tableCell {
		padding-bottom: 30px;
	}
	.tableCell{
		padding: 20px 1%;
		max-width: 100px;
		&:nth-child(1){padding-left: 30px;}
		&:nth-child(2){padding-right: 4%;}
		&:nth-child(3){padding-left: 10%;padding-right: 3%;}
		//&:nth-child(4);}
		&:nth-child(5){padding-right: 30px;}
	}
}


.table__titleBtns{
	@include clearfix;
	&-title{
		float: left;
		margin-top: 30px;
	}
	&-btns{
		float: right;
	}
}