@import (reference) '../../App/Colors.less';
@import (reference) '../../App/ProThemeColors.less';

.backingBettingWidget {
  background-color: @cinder;
  padding: 10px;
  margin: 20px 0px 20px 0px;

  .title {
    color: @buttercup;
    font-weight: bold;
  }

  .backBettingMarket {
    background-color: @midnight;
    padding: 10px 20px 10px 20px;
    margin: 5px 5px 5px 0px;

    &:hover {
      background-color: @matisse;
      cursor: pointer;
    }

    .bmTitle, .odds {
      display: inline-block;
    }

    .bmTitle {
      color: @white;
    }

    .odds {
      color: @anakiwa;
      float: right;
      font-weight: bold;
    }
  }
}