@import (reference) '../../App/Colors.less';
@import (reference) '../../App/ProThemeColors.less';

.backingBettingWidget {
  background-color: @cinder;
  padding: 17px;
  margin: 20px 0px 20px 0px;

  .title {
    color: @dark_tangerine;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .backBettingMarket {
    background-color: @midnight;
    padding: 10px 20px 10px 20px;
    margin: 3px;

    &.active:hover {
      background-color: @cello;
      cursor: pointer;
    }

    &.disabled:hover {
      cursor: not-allowed;
    }

    .bmTitle, .odds {
      display: inline-block;
    }

    .bmTitle {
      color: @white;
    }

    .odds {
      color: @anakiwa;
      float: right;
      font-weight: bold;
    }
  }
}