.banner-clock {
  float: left;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-clock .banner-clock-header {
  font-size: 14px;
  text-align: center;
  position: relative;
}
.banner-clock .banner-clock-content {
  position: relative;
  margin-top: 8px;
}
.banner-clock .banner-clock-content .colon {
  font-size: 24px;
  margin-right: 3px;
  position: relative;
  height: 100%;
  float: left;
}
.banner-clock .banner-clock-content .banner-clock-digits {
  position: relative;
  float: left;
  margin-right: 3px;
  display: flex;
  flex-direction: column;
}
.banner-clock .banner-clock-content .banner-clock-digits:last-child {
  margin-right: 0;
}
.banner-clock .banner-clock-content .banner-clock-digits .banner-clock-digits-footer {
  font-size: 10px;
  text-align: center;
  margin-top: 2px;
}
.banner-clock .banner-clock-content .banner-clock-digits .banner-clock-digit {
  margin-right: 3px;
  position: relative;
  float: left;
  width: 27px;
  height: 36px;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
}
.banner-clock .banner-clock-content .banner-clock-digits .banner-clock-digit:last-child {
  margin-right: 0;
}
.banner-clock .banner-clock-content .banner-clock-digits .banner-clock-digit .background-top {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50%;
  background-color: #2c363f;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 95% 95%, 95% 100%, 5% 100%, 5% 95%, 0 95%);
}
.banner-clock .banner-clock-content .banner-clock-digits .banner-clock-digit .background-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50%;
  background-color: #14181c;
  clip-path: polygon(0 5%, 5% 5%, 5% 0, 95% 0, 95% 5%, 100% 5%, 100% 100%, 0 100%);
}
.banner-clock .banner-clock-content .banner-clock-digits .banner-clock-digit .base {
  font-family: 'Geogrotesque';
  font-size: 26px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
}
