div.all-sports-banner {
  position: relative;
  border: 1px solid #273642;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fbae16;
  background-blend-mode: multiply;
}
div.all-sports-banner > div.statistics {
  position: absolute;
  right: 15px;
  bottom: 10px;
  text-align: right;
}
div.all-sports-banner > div.statistics .flip-amount {
  float: left;
}
div.all-sports-banner > div.statistics .digit {
  font-family: 'Geogrotesque';
  position: relative;
  width: 27px;
  height: 40px;
  margin-left: 3px;
  text-align: center;
  line-height: 0;
  border-radius: 3px;
  float: left;
}
div.all-sports-banner > div.statistics .digit:first-child {
  margin-left: 0;
}
div.all-sports-banner > div.statistics .digit span {
  position: absolute;
  left: 0;
  height: 20px;
  width: 27px;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  font-size: 32px;
  font-weight: 400;
  text-indent: 2px;
  color: #FFFFFF;
}
div.all-sports-banner > div.statistics .digit span.top-half {
  top: 0;
  padding-top: 20px;
  background-color: #2c363f;
}
div.all-sports-banner > div.statistics .digit span.bottom-half {
  bottom: 0;
  background-color: #14181c;
  border-radius: 0 0 3px 3px;
}
div.all-sports-banner > div.statistics .digit-delimiter {
  float: left;
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
  text-indent: 3px;
  font-family: 'Geogrotesque';
}
div.all-sports-banner > div.statistics > div.text {
  margin-top: 10px;
  clear: both;
}
div.all-sports-banner > div.statistics > div.text > span.text {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
div.all-sports-banner .bitcoin-icon-main {
  float: left;
  margin-right: 10px;
  margin-top: 11px;
}
div.all-sports-banner .icon-bitcoin-white {
  background-image: url('../../../assets/icons/bitcoin_icon_hover.png');
  display: inline-block;
  height: 28px;
  width: 18px;
  background-repeat: no-repeat;
  background-size: 100%;
}
