@import (reference) '../../Main/Main.less';

div.all-sports-banner {
  position: relative;
  border:1px solid @banner_border;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  >div.statistics {
    position: absolute;
    right: 15px;
    bottom: 10px;
    text-align: right;
    .flip-amount{
      float: left;
    }
    .digit {
      position: relative;
      width: 27px;
      height: 40px;
      margin-left: 10px;
      text-align: center;
      line-height: 0;
      border-radius: 3px;
      float: left;
      &:first-child{
        margin-left:0;
      }
    }
    .digit span {
      position: absolute;
      left: 0;
      height: 20px;
      width: 27px;
      overflow: hidden;
      border-radius: 3px 3px 0 0;
      font-size: 32px;
      font-weight: 700;
      text-indent: 2px;
      color: @white;
    }
    .digit span.top-half {
      top: 0;
      padding-top: 20px;
      background-color:@banner_timer_top_half;
    }
    .digit span.bottom-half {
      bottom: 0;
      background-color:@banner_timer_bottom_half;
      border-radius: 0 0 3px 3px;
    }
    .digit-delimiter {
      float: left;
      margin-right: -5px;
      font-weight: 700;
      font-size: 32px;
      color: @white;
      text-indent: 3px;
    }
    > div.text {
      margin-top:10px;
      clear: both;
      > span.text {
        display: block;
        color: white;
        font-size: 18px;
        font-weight:bold;
        text-transform: uppercase;
      }
    }
  }
  .bitcoin-icon-main{
    float: left;
    margin-right: 10px;
    margin-top: 11px;
  }
  .icon-bitcoin-white{
    background-image: url('../../../assets/icons/bitcoin_icon_hover.png');
    display: inline-block;
    height: 28px;
    width: 18px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
