.help-and-support {
  position: relative;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;

  .content {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: 20px;

    .question-answer-pair {
      .question {
        color: white;
        font-weight: bold;
        font-size: 16px;
      }
      .answer {
        color: white;
        font-size: 16px;
      }
    }

    .question-answer-pair:not(:first-child) {
      margin-top: 20px;
    }

    .sample-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
