.aside {
  clear: both;
  // position: fixed;
  z-index: 101;
  right: 0;
  top: $headerHeight;
  bottom: 0;
  float: right;
  max-width: 450px;
  min-width: 250px;
  width: 25%;
  background: $aside-bg;
  overflow: auto;
  padding-bottom: 50px;
  @include box-shadow(-2px 0 7px rgba(0, 0, 0, 0.08));

  //&__balance{
  //	padding: 20px 30px 14px 30px;
  //	&.bb{
  //		border-bottom: 1px solid $border-color2;
  //	}
  //	&Label{
  //		font-size: 18px;
  //		font-weight: 500;
  //		color: $aside-title-color;
  //		padding-top: 10px;
  //	}
  //	&Sum{
  //		@include clearfix;
  //	}
  //	&Val{
  //		float: left;
  //		font-weight: 700;
  //		font-size: 36px;
  //		padding-right: 10px;
  //		color: $aside-val-sum-color;
  //		&Unit{
  //			font-size: 24px;
  //			font-weight: 600;
  //			color: $aside-val-unit-color;
  //			text-transform: uppercase;
  //		}
  //	}
  //	&Unit{
  //		font-weight: 400;
  //		float: right;
  //		&Text{
  //			font-size: 14px;
  //			font-weight: 300;
  //			color: $aside-unit-color;
  //			line-height: 42px;
  //			margin-top: 10px;
  //			text-align: right;
  //			&.ddTrigger:after{
  //				color: $aside-unit-color;
  //			}
  //		}
  //	}
  //
  //}
  //&__cur{
  //	&List{}
  //	&Pic{
  //		margin-right: 7px;
  //		vertical-align: bottom;
  //	}
  //	&Name{
  //		float: left;
  //		color: $text-color-bg;
  //		font-size: 18px;
  //		font-weight: 500;
  //		&-main{
  //			font-size: 22px;
  //		}
  //	}
  //	&Val{
  //		text-align: right;
  //		margin-bottom: 22px;
  //		text-transform: uppercase;
  //		font-size: 18px;
  //		color: $text-color-bg;
  //		span{
  //			padding-left: 10px;
  //			font-size: 14px;
  //			text-transform: uppercase;
  //			color: rgba( $text-color-bg, .7 );
  //		}
  //		&-main{
  //			margin-bottom: 26px;
  //		}
  //		&-pic{
  //			padding-top: 11px;
  //		}
  //	}
  //}
  //&__menu{
  //	padding: 24px $defXPad 30px;
  //	&Title{
  //		font-size: 18px;
  //		margin-bottom: 30px;
  //		font-weight: 100;
  //	}
  //	&Btns{
  //		overflow: hidden;
  //	}
  //}


  &__item {
    padding: 29px 25px 50px;
    margin-bottom: 10px;

    &.bb {
      border-bottom: 1px solid $border-color2;
    }
  }

  &__title {
    height: 30px;
    font-size: 1rem;
    color: $text-color-bg;
    margin-bottom: 13px;
  }

  &__row {
    margin-bottom: 18px;

    &Label2 {
      font-size: 0.8125rem;
      color: rgba(255, 255, 255, .3);
      margin: 17px 0 0;
    }

    &Label {
      font-size: 1.125rem;
      font-weight: 600;
      color: $text-color-bg;
      margin-bottom: 0;
      margin-top: 30px;
      height: 22px;
    }
  }

  &__unit {
    float: right;
    font-size: 1.25rem;
    line-height: 1.6;
    color: $text-color-bg;
    //font-weight: 600;
  }

  &__num {
    display: block;
    overflow: hidden;
    font-weight: 700;
    font-size: 1.5rem;
    padding-right: 10px;
    color: $aside-val-sum-color;
    @include ellipsis;
    max-width: 100%;
  }

  &__btn {
    @extend .btn-color1;
    padding: 0 15px;

    &Wrap {
      text-align: center;
      margin-top: 33px;
    }

    &Icon {
      font-size: 19px;
    }

    span {
      padding: 0 2px;
      vertical-align: middle;
    }
  }
}

.logout {
  display: block;
  color: $text-color-bg;
  font-size: 1.25rem;
  padding: 10px;
  font-weight: 400;
  @include transition();

  &:hover {
    opacity: .6;
  }
}

.nav__user {
  display: block;
  margin: 5px 5px 10px;
  background: #2c3370;

  &Info {
    overflow: hidden;
  }

  &Pic {
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin-left: 15px;

    span {
      font-size: 12px;
      line-height: 60px;
    }

    img {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      @include transform(translate(-50%, -50%));
      top: 50%;
      left: 50%;
    }
  }

  &Name {
    display: block;
    overflow: hidden;
    font-size: 1.25rem;
    line-height: 40px;
    font-weight: 500;
    color: $text-color-bg;
    @include ellipsis;
  }

  &DD {
    &Trigger {
      padding: 12px 25px !important;
      overflow: hidden;

      &:after {
        display: none !important;
      }
    }

    &Menu {
      &.ddMenu {
        background: #2c3370;
        margin-top: 1px;
        @include border-radius(0);
        right: 0;
        padding: 10px 25px;
      }
    }
  }

}