.pagination {
  margin: 20px 0;
  text-align: center;

  &__list {
    display: inline-block;
  }

  &__li {
    display: inline-block;
    vertical-align: top;
  }

  &__item {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 7px;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    @include border-radius(4px);
    @include transition();

    &.active {
      color: #fff;
      background: #1c2254;
    }

    &:hover {
      color: #fff;
      background: rgba(#1c2254, .4);
    }
  }

  &__dots {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 7px;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
  }
}