@import (reference) '../App/colors.less';
@import '../App/common.less';

.loginBackground {
  background: @app-bg;
  background: url("../../assets/images/sports-background.png");
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginComponent {
  .center-ele {
    width: 564px;
    padding-top: 75px;
    margin: 0 auto;
  }
  .btn {
    width: 100%;
    margin-top:10px;
  }
  .form-fields {
    margin-bottom: 40px;
  }
  .errorText {
    float: left;
  }
  .login-welcome {
    margin: 25px 0 40px;
  }
  a {
    color: #ffffff;
    border: 1px solid #FFFFFF;
    padding: 5px 40px;
  }
  .signup-link {
    margin-top: 50px;
  }
}
