#all-sports-wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  padding: 20px 45px;
}

.banner-ad-header,
.banner-ad-footer {
  display: block;
  width: 100%;
}

.banner-ad-footer {
  margin-top: 20px;
}
