.dialog-descr{
	padding: 0 120px 60px;
	margin: 100px auto;
	.h1 {
		font-weight: 900;
		font-size: 36px;
		text-transform: none;
		padding-bottom: 31px;
	}
	.text{
		font-weight: 600;
		font-size: 13px;
		line-height: 1.5;
		color: #000;
		margin-bottom: 10px;
	}
	.btn-sbm{
		min-width: 175px;
	}
}
.descr{
	&__list{
		float: left;
		width: 50%;
		&Wrap{
			overflow: hidden;
			margin: 42px 0 35px;
		}
	}
	&__li{
		display: block;
		margin-bottom: 14px;
	}
	&__item{
		display: inline-block;
		color: #1819d2;
		font-size: 16px;
		font-weight: 600;

		&:hover{text-decoration: underline;}
	}
}