$ff: 'Roboto',
sans-serif;
$fw: 400;
$ff-main: $ff;

$maxWidth: 1900px;
$defXPad: 30px;
$inXPad: 150px;
$insideXPad: 40px;
$row-margin: 20px;
$btn-height: 46px;
$field-height: 52px;

$headerHeight: 55px;

// -------------------------
// Colors--->
$black: #000;
$white: #fff;
$red: #f45c63;
$red2: #f179a3;
$green3: #13d4b7;
$clear-color: $black;
$clear-color2: $white;
//--------------------------
//<---Colors


// -------------------------
// yellow--->

//$text-color: 			#464f58;
//$text-color2: 			#a0a4a7;
//$text-color3: 			#6e757d;
//$dark-color: 			#17191a;
//$faded-color:			#818b95;
//$gray-color:			#d6d6d6;
//$gray-color2: 			#e1e1e1;
//$gray-color3: 			#aeaeae;
//$orange:                #e6c42f;
//$yellow:				#f9cc2f;
//$yellow2:				#f8e7ad;
//$gold:					#bdb59f;
//$gold-hover:			#aca490;
//$gold-active-bd-color:	#968f7d;
//$blue:					#57afe1;
//$green:					#12cd6e;
//$green-hover:			#12BA62;
//$green-active:			#12BA62;
//$green-active-bd-color: #129E4F;
//$green-light:			#12D679;
//
//$color-prime:			$orange;
//$color-second:			$green;
//$color-second-hover:	$green-hover;
//$color-second-active:	$green-active;
//$color-second-bd-color: $green-active-bd-color;
//$color-add:				$yellow;
//$color-add2: 			$gold;
//$color-add2-text:		$clear-color2;
//$color-add2-hover: 		$gold-hover;
//$color-add2-bd-color:	$gold-active-bd-color;
//$color-add3:			$color-add2;
//$color-add3-text:		$color-add2-text;
//$color-add4:			$gray-color3;
//$text-color-bg:			$text-color;
//$border-color: 			$gray-color2;
//$label-color: 			$text-color;
//
//$body-bg:          		#fafafa;
//$footer-bg:				$clear-color2;
//$footer-bd-color:		$gray-color2;
//$footer-color:			$faded-color;
//$body-login-bg:         $color-prime;
//$nav-active-bg:			$color-prime;
//$nav-icon-color:		$color-prime;
//$delimiter-bd-color:	#e4e4e4;
//$delimiter-bd-shadow:	0 1px 0 $clear-color2;
//$aside-bg:				$clear-color2;
//$aside-val-sum-color:	$green;
//$aside-val-unit-color:	$text-color2;
//$aside-title-color:		$text-color;
//$table-bg:				$clear-color2;
//$table-hidden-bg:		#eae8e8;
//$table-hidden-shadow:	none;
//$table-hiddenLast-shadow:none;
//$table-shadow:			0 6px 20px rgba(0, 0, 0, 0.05);
//$table-shadow2:			0 6px 20px rgba(0, 0, 0, 0.05);
//$shadow:				0 6px 20px rgba(0, 0, 0, 0.05);
//$table-title-color:		$dark-color;
//$th-color:				$clear-color;
//$th-bg:					$yellow2;
//$th-bd-color:			#e0d19c;
//$heading-color:			$dark-color;
//$h1-color:				$dark-color;
//$btn-transp1-color:		$color-second;
//$tab-bg:				$yellow2;
//$tab-bg-active:			$clear-color2;
//$tab-color:				$clear-color;
//$tab-color-active:		$clear-color;
//$tab-deploy-bg:			$clear-color2;
//$asset-bg:				$clear-color2;
//$asset-label-color:		$text-color2;
//$assets-unit-color:		$text-color2;
//$mark-color:			$color-second;
//$box-inner-bg:			#efefef;
//$box-inner-shadow:		inset 0 3px 4px rgba(0, 0, 0, 0.07);
//$sort-arrow-color:		#8c8980;
//$sort-arrow-active:		#c19500;
//$desc-color:			$text-color;
//$field-color:   		$text-color;
//$field-bd-color: 		$faded-color;
//$field-icon-color: 		$faded-color;
//$field2-bd-color: 		$gray-color;
//$rank-pos-color:		$color-second;
//$section-head-color:		;
//$table-tab-active:
//$section-option-icon-color
//$section-more-bg
//$select-bd-color
//$menu-limiter-color: 	$border-color;
//$dd-bg: $clear-color2;
//$calendarIcon-color:	$gray5;

//--------------------------
//<---yellow



//--------------------------
//<---blue

$light-blue: #33b7ef;
$green: #00fe95;
$green2: #12cd6e;
$green3: #13d4b7;
$new-blue: #1c2254;
$new-blue2: #0a76e3;
$new-blue3: #3c4680;
$new-blue4: #8c9ddd;
$new-blue5: #232c6c;
$new-blue6: #20f3ec;
$new-blue7: #9cc8db;
$new-blue8: #1b3c8c;
$new-blue9: #b8bde7;
$new-blue11: #38407b;
$new-blue12: #3774b7;
$new-blue13: #294e77;
$new-blue14: #43518d;
$new-blue15: #2e78e6;
$new-blue16: #1819d2;

$gray1: #464f58;
$gray2: rgba($clear-color2, .6);
$gray3: #cacaca;
$gray4: #ebebeb;
$gray5: #aeaeae;
$gray-color2: #e1e1e1;
$white-transp: rgba($clear-color2, .06);
$white-transp2: rgba($clear-color2, .15);
$dark: #17191a;
$dark2: #2c3370;
$faded-color: #818b95;


$color-prime: $new-blue;
$color-second: $light-blue;
$color-second-hover: lighten($light-blue, 10%);
$color-second-active: darken($light-blue, 10%);
$color-second-bd-color: darken($light-blue, 20%);
$color-add: $light-blue;
$color-add2: $new-blue3;
$color-add2-text: $new-blue4;
$color-add2-hover: lighten($new-blue3, 10%);
$color-add2-bd-color: $new-blue3;
$color-add3: $new-blue8;
$color-add3-text: $clear-color2;
$text-color-bg: $clear-color2;
$border-color: $white-transp;
$border-color2: $white-transp2;
$border-color3: rgba($new-blue9, .5);
$text-color: $gray1;
$text-color2: $gray2;
$label-color: $new-blue9;

$body-bg: radial-gradient(circle, #2660ca, $dark2);
$body-login-bg: radial-gradient(circle, #2660ca, $dark2);
$footer-bg: $new-blue5;
$footer-bd-color: $new-blue5;
$footer-color: $gray3;
$nav-active-bg: $color-second;
$nav-icon-color: $new-blue2;
$delimiter-bd-color: $dark2;
$delimiter-bd-shadow: 0 1px 0 $white-transp;
$delimiter-bd-shadow2: 0 1px 0 rgba($white-transp, .04);
$aside-bg: $color-prime;
//$aside-title-color:		rgba( $new-blue7, .8 );
$aside-title-color: $clear-color2;
$aside-val-sum-color: $new-blue6;
$aside-val-unit-color: rgba($aside-val-sum-color, .7);
$aside-unit-color: rgba($new-blue7, .8);

$table-bg: $white-transp;
$table-hidden-bg: $white-transp;
$table-hidden-shadow: inset 0 3px 3px rgba(18, 19, 24, 0.25);
$table-hiddenLast-shadow:0 -3px 3px rgba(18, 19, 24, 0.25);
$table-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
$table-shadow2: 0 7px 15px rgba(0, 0, 0, 0.05);
$shadow: 0 3px 20px rgba(0, 0, 0, 0.24);
$table-title-color: $clear-color2;
$th-color: $clear-color2;
$th-bg: $color-prime;
$th-bd-color: $color-prime;
$heading-color: $clear-color2;
$h1-color: $dark;
$btn-transp1-color: rgba($clear-color2, .8);
$tab-bg: $color-prime;
$tab-bg-active: $white-transp;
$tab-color: $new-blue9;
$tab-color-active: $clear-color2;
$tab-deploy-bg: $white-transp;
$asset-bg: transparent;
$asset-label-color: rgba($new-blue9, .8);
$assets-unit-color: $clear-color2;
$mark-color: $green3;
$box-inner-bg: $white-transp;
$box-inner-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.35);
$sort-arrow-color: $new-blue7;
$sort-arrow-active: $color-second;
$desc-color: $new-blue9;
$field-color: $text-color;
$field-bd-color: $faded-color;
$field-icon-color: $faded-color;
$field2-bd-color: $gray3;
$rank-pos-color: $green2;
$section-head-color: $new-blue11;
$table-tab-active: $new-blue;
$section-option-icon-color: $color-second;
$date-color: $new-blue9;
$section-more-bg: $new-blue12;
$section-more-color: $new-blue13;
$select-bd-color: $faded-color;
$menu-limiter-color: $gray4;
$dd-bg: $new-blue14;
$calendarIcon-color: $gray5;


//--------------------------
//<---blue