@import '../../App/Colors.less';
@import '../../App/Common.less';

.rules-modal{
  text-align: center;
  .ant-modal{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    top:0;
    max-height: 90%;
    padding-bottom:0;
    text-align: left;
  }
  .ant-modal-header{
    background-color: transparent;
    border-radius: 0;
    border-bottom:0 none;
    padding:25px 40px 15px !important;
    .ant-modal-title{
      color: @dialogue_blue_title;
    }
  }
  .ant-modal-body{
    padding:0 40px 15px !important;
    overflow: auto;
    height: 400px;
  }
  p{
    line-height:32px;
    margin-bottom:30px;
    &:last-child{
      margin-bottom:0;
    }
  }
  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
}