@import '../../App/Colors.less';
@import '../../App/Common.less';

@quick-bet-drawer-width: 360px;
@quick-bet-drawer-title-height: 40px;
@quick-bet-drawer-footer-height: 40px;

#quick-bet-drawer {
  height:100%;
  background-color: @drawer_main_bg;
  div.title {
    background-color: @quick_bet_drawer_title_bg;
    width: @quick-bet-drawer-width;
    height: @quick-bet-drawer-title-height;
    line-height: @quick-bet-drawer-title-height;
    > div.label {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
  }

  div.content {
    position: relative;
    height: 100%;
  }

  div.footer {
    background-color: @quick_bet_drawer_title_bg;
    width: @quick-bet-drawer-width;
    padding: 5px;

    &.dimmed {
      opacity: .1;
    }

    > button.place-bet {
      color: white;
      width: 100%;
      text-transform: none;  // for displaying mB properly
      &:hover{
        color: @primary_label;
        .btn-regular;
      }
    }
  }

  // DO NOT use resize cursor as resizing has been disabled
  .Resizer {
    cursor: auto;
    display: none;
  }
}
